Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

UPS-4250 rename
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4250 event settings api (#430)
  projects/api-design-guidelines/docs/authentication.md
  projects/uitpas/reference/uitpas.json
Owners: @JonasVHG, @willaerk, @simon-debruijn, @erwin1, @JurgenG, @brusselsregular

UPS-5091 social tariff validation endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5091 linting failed on snake_case property
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Add groupprice to priceinfo
  projects/uitdatabank/models/common-priceInfo.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add description
  projects/uitdatabank/models/common-priceInfo.json
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-5090 social-tariff-settings
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5091 use explicit models to avoid code generation conflicts
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Creator Id's are not necessarily a uuid
  projects/uitdatabank/models/ownership.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add model for itemType
  projects/uitdatabank/models/common-itemType.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix ownership models
  projects/uitdatabank/models/ownership-post.json
  projects/uitdatabank/models/ownership.json
Owners: @JonasVHG, @LucWollants, @corneelwille

delete unused model
  projects/uitdatabank/models/ownership-itemType.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add description
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Use string as itemId
  projects/uitdatabank/models/ownership.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add description
  projects/uitdatabank/models/ownership.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Make properties mandatory
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Also take email into account
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add description
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Use legacy regex for udb uuids
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add anyof
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

cleanup stoplight extra data
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Cleanup stoplight extra data
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

linting
  projects/uitdatabank/models/ownership.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix required properties
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille
