Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bertramakers, @erwin1, @Stiksels, @DizzyMissLizzy, @LucWollants, @corneelwille, @JurgenG, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @bertramakers

# Authentication owners
/projects/authentication @bertramakers @erwin1

# museumPASSmusées owners
/projects/museumpassmusees @bertramakers @erwin1

# museumPASSmusées Markdown docs owners
/projects/museumpassmusees/docs @bertramakers @erwin1 @Stiksels @DizzyMissLizzy

# UiTdatabank owners
/projects/uitdatabank @bertramakers @LucWollants

# UiTdatabank Markdown docs owners
/projects/uitdatabank/docs @bertramakers @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @bertramakers @erwin1

# UiTPAS Markdown docs owners
/projects/uitpas/docs @bertramakers @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @bertramakers @corneelwille

Try to set sequence fontFamily variables
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Move sequence variables out of themeVariables
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Document embedUitpasPrices parameter
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Correct and add applicable urls for all embed parameters
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

UPS-3610 publish reward search
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

Copy theme settings to other diagrams
  projects/authentication/docs/client-access-token.md
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Try to fix spacing issue in Firefox
  projects/authentication/docs/client-access-token.md
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

PKCE flow does not use client secret
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Explain the difference with the regular web app flow
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Remove mention of refresh tokens for now
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Remove audience from /oauth/token step
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add an example for the regular web app flow
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add example for PKCE flow
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add embedding to side bar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants
