Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

allow non https links
  projects/uitdatabank/models/common-string-uri.json
Owners: @JonasVHG, @LucWollants, @corneelwille

revert regex to avoid problems.
  projects/uitdatabank/models/common-string-uri.json
Owners: @JonasVHG, @LucWollants, @corneelwille

revert regex to avoid problems.
  projects/uitdatabank/models/common-string-uri.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added delete description endpoint for place and event
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add put endpoint educationalDescription
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added summary for description delete
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

make summary uniform
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

make summary uniform
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

bugfix use correct title
  projects/uitdatabank/models/organizer-educationalDescription.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add put for educational description
  projects/uitdatabank/models/organizer-educational-description-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix entry.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

use educationalDescription in educationalDescription
  projects/uitdatabank/models/organizer-educational-description-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille

bugfix educationalDescription instead of description
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Provide endpoint to delete educational description on organiser
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4582 search passholders by uitidId
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4582 extra PASSHOLDERS_SEARCH_ALL permission
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

uitpas: search passholders by uitidId (#296)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

fix curly brackets & comma
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix description
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix producion brackets
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

tempBranch
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

temp branch
  projects/uitdatabank/docs/entry-api/organizers/update.md
Owners: @JonasVHG, @LucWollants, @corneelwille

temp to compare
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4647 family member endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 api details
  projects/uitpas/docs/errors.md
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints: include new permission
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints: delete security
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints (fixes)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Add content scope page to the side bar
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add page with content scope rules
  projects/uitdatabank/docs/content-scope.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix dead url
  projects/widgets/docs/inleiding.md
Owners: @JonasVHG, @corneelwille

Fix dead url
  projects/uitdatabank/docs/terminology.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix dead url
  projects/uitdatabank/docs/search-api/introduction.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove warning
  projects/uitdatabank/docs/introduction.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Replace link to documentatie.uitdatabank.be
  projects/authentication/docs/requesting-credentials.md
Owners: @corneelwille, @JurgenG, @JonasVHG

Replace link
  projects/uitpas/docs/faq.md
Owners: @erwin1, @JurgenG, @brusselsregular

Replace link
  projects/uitpas/docs/searching-for-UiTPAS-events.md
Owners: @erwin1, @JurgenG, @brusselsregular
