Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

Add claude doc file
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

hail mary to get claude working for PRs.
  .github/workflows/claude.yml
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

remove file examples
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove links to deprecated contributors docs
  projects/uitdatabank/docs/entry-api/authentication.md
  projects/uitdatabank/docs/entry-api/events/create.md
  projects/uitdatabank/docs/entry-api/events/publish.md
  projects/uitdatabank/docs/entry-api/events/update.md
  projects/uitdatabank/docs/entry-api/organizers/create.md
  projects/uitdatabank/docs/entry-api/organizers/publish.md
  projects/uitdatabank/docs/entry-api/organizers/update.md
  projects/uitdatabank/docs/entry-api/places/create.md
  projects/uitdatabank/docs/entry-api/places/publish.md
  projects/uitdatabank/docs/entry-api/places/update.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add deprecation notice to contributors.md
  projects/uitdatabank/docs/entry-api/shared/contributors.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

improve copy
  projects/uitdatabank/docs/entry-api/authentication.md
  projects/uitdatabank/docs/entry-api/events/create.md
  projects/uitdatabank/docs/entry-api/events/publish.md
  projects/uitdatabank/docs/entry-api/events/update.md
  projects/uitdatabank/docs/entry-api/organizers/create.md
  projects/uitdatabank/docs/entry-api/organizers/publish.md
  projects/uitdatabank/docs/entry-api/organizers/update.md
  projects/uitdatabank/docs/entry-api/places/create.md
  projects/uitdatabank/docs/entry-api/places/publish.md
  projects/uitdatabank/docs/entry-api/places/update.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

rename faq-item to faq
  projects/uitdatabank/models/faq.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

use event faqs instead of event faq
  projects/uitdatabank/models/event-faqs.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

update desc of entry
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add more info about endpoint
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

remove mixing of FAQ & faq
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

All three allOf wrappers removed in favour of direct with sibling properties
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

remove id
  projects/uitdatabank/models/event-faqs-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

remove id
  projects/uitdatabank/models/event-faqs.json
  projects/uitdatabank/models/faq.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

bugfix
  projects/uitdatabank/models/faq.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

remove references to api endpoint
  projects/uitdatabank/docs/entry-api/authentication.md
  projects/uitdatabank/docs/entry-api/events/create.md
  projects/uitdatabank/docs/entry-api/organizers/create.md
  projects/uitdatabank/docs/entry-api/places/create.md
  projects/uitdatabank/docs/entry-api/shared/contributors.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

clarify description regarding overwrite rules
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

add a link
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-5850 balie api
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5850 balie api
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5850 cardsystem city settings
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

feat: add component schema files for childcare time fields
  projects/uitdatabank/models/common-string-time.json
  projects/uitdatabank/models/event-subEvent-childcareEndTime.json
  projects/uitdatabank/models/event-subEvent-childcareStartTime.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

feat: add childcareStartTime and childcareEndTime to subEvent schemas
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

feat: update subEvent examples with childcare time fields
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

docs: document childcare times in the calendar-info guide
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

fix: align common-string-time description with actual pattern
  projects/uitdatabank/models/common-string-time.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

docs: clarify omit-to-clear behaviour applies to PATCH as well
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

feat: add top-level examples to event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

pr feedback
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/common-string-time.json
  projects/uitdatabank/models/event-subEvent-childcareEndTime.json
  projects/uitdatabank/models/event-subEvent-childcareStartTime.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-5912 added linkedOrganisers and cardSystems to get /permissions
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5913 added city specific card system settings
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5912 cardSystems is an array
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

feat: add childcare time component schemas for event openingHours
  projects/uitdatabank/models/common-string-time.json
  projects/uitdatabank/models/event-openingHours-childcareEndTime.json
  projects/uitdatabank/models/event-openingHours-childcareStartTime.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

feat: extend event openingHours with childcareStartTime and childcareEndTime
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-post.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

docs: document childcare times on event openingHours for periodic/permanent calendar
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Put childcare in seperate object
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-childcare.json
  projects/uitdatabank/models/event-subEvent-childcareEndTime.json
  projects/uitdatabank/models/event-subEvent-childcareStartTime.json
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/event-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Examples are incorrect with validaiton rules fix
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-childcare.json
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/event-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

small fix in description
  projects/uitdatabank/models/event-subEvent-childcare.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

refactor: replace flat childcare fields with nested childcare object on openingHours
  projects/uitdatabank/models/event-openingHours-childcare.json
  projects/uitdatabank/models/event-openingHours-childcareEndTime.json
  projects/uitdatabank/models/event-openingHours-childcareStartTime.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

feat: extend event-openingHours with nested childcare object
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-post.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers
