Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

Clarify goal of the release notes
  projects/release-notes/docs/introduction.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add 2020 deployments page for UDB
  projects/release-notes/docs/uitdatabank/2020.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add 2021 deployments page for UDB
  projects/release-notes/docs/uitdatabank/2021.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Improve styling
  projects/release-notes/docs/uitdatabank/2022.md
  projects/release-notes/docs/uitdatabank/2023.md
  projects/release-notes/docs/uitpas/2023.md
  projects/release-notes/docs/widgets/2020.md
  projects/release-notes/docs/widgets/2021.md
  projects/release-notes/docs/widgets/2022.md
  projects/release-notes/docs/widgets/2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Linting™
  projects/release-notes/docs/introduction.md
  projects/release-notes/docs/uitdatabank/2020.md
  projects/release-notes/docs/uitdatabank/2021.md
  projects/release-notes/docs/uitdatabank/2022.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add introduction to sidebar
  projects/release-notes/toc.json
Owners: @JonasVHG, @willaerk, @simon-debruijn

Make response bodies for creating events public / visible
  projects/errors/models/Error.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @willaerk, @simon-debruijn, @LucWollants, @corneelwille

Remove x-internal property
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4584 support for suspending social tariffs
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Add security section for Search API requests
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix unevaluated property error
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

test
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix invalid JSON
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add security sections
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Improve indentation
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Move security property inside the method property
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add the security schemas
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix location for securitySchemes
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Move security property inside the HTTP method
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove user access token as auth method
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4667 checkin for family members
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4669 transaction history for family members
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4667 clarification
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4629 temporary download link endpoint (#326)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4629 fix client generation for file downloads
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

ups-4629 reportdownload (#345)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UP-4618 family members (#344)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Remove incorrect alert about DELETE method not supported
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4665 custom token for delete family member
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4743 volledige passholder teruggeven in family-members
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4743 try to make property passholder read-only
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4743 fix
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4743 remove test
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4743 fix examples
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4743 volledige passholder teruggeven in family-members (#348)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4665 custom token for delete family member (#347)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Add release notes for deploy of 01/12/2023
  projects/release-notes/docs/uitdatabank/2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Fix basic auth documentation
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4584 support for suspending social tariffs (#340)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4665 clarify permission needed to delete family member
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular
