Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bertramakers, @erwin1, @Stiksels, @LucWollants, @corneelwille

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @bertramakers

# Authentication owners
/projects/authentication @bertramakers @erwin1

# museumPASSmus√©es owners
/projects/museumpassmusees @bertramakers @Stiksels @erwin1

# UiTdatabank owners
/projects/uitdatabank @bertramakers @LucWollants

# UiTdatabank Markdown docs owners
/projects/uitdatabank/docs @bertramakers @LucWollants @corneelwille

# Widgets owners
/projects/widgets @bertramakers @corneelwille

Clarify when vouches are invoiced
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

Tweak POST /visits description to not use <br> and clarify when some fields are ommitted
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

Picture is not a date
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

Picture url is a uri
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

passholderId is a uuid
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

Remove readOnly flags from model that is only used in response anyway
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

VoucherList id is a uuid
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

Describe contents of vouchers array
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @Stiksels, @erwin1

Show organizer post example with all fields first
  projects/uitdatabank/reference/entry.json
Owners: @bertramakers, @LucWollants

Show organizer post example with all fields first
  projects/uitdatabank/reference/entry.json
Owners: @bertramakers, @LucWollants

Remove section about opening your project in Stoplight Studio
  README.md
Owners: @bertramakers

Create schema for event-name-put
  projects/uitdatabank/models/event-name-put.json
Owners: @bertramakers, @LucWollants

Document the update name endpoint for event
  projects/uitdatabank/reference/entry.json
Owners: @bertramakers, @LucWollants

Add model for place name put
  projects/uitdatabank/models/place-name-put.json
Owners: @bertramakers, @LucWollants

Fix typo
  projects/uitdatabank/reference/entry.json
Owners: @bertramakers, @LucWollants

Document the update name endpoint for place
  projects/uitdatabank/reference/entry.json
Owners: @bertramakers, @LucWollants

update priceInfo unique name
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

Add missing shared Error model
  projects/errors/models/Error.json
Owners: @bertramakers

Replace links to shared error model to new URL
  projects/_template/reference/example-api.json
  projects/museumpassmusees/reference/example-api.json
  projects/uitdatabank/reference/entry.json
Owners: @bertramakers, @Stiksels, @erwin1, @LucWollants
