Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

Remove how-to guide about creating BOA events
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/docs/entry-api/events/create.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove references to BOA fields from REVIEW.md
  REVIEW.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove childrenOnly documentation
  projects/uitdatabank/docs/search-api/filters/children-only.md
  projects/uitdatabank/models/event-childrenOnly-put.json
  projects/uitdatabank/models/event-childrenOnly.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove departurePlaces documentation
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/departure-places.md
  projects/uitdatabank/models/common-departurePlaces.json
  projects/uitdatabank/models/event-departurePlaces-put.json
  projects/uitdatabank/models/event-departurePlaces.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove birthdateRange documentation
  projects/uitdatabank/docs/errors.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/models/event-birthdateRange-put.json
  projects/uitdatabank/models/event-birthdateRange.json
  projects/uitdatabank/models/event-birthdateRangeConverted.json
  projects/uitdatabank/models/event-search.json
  projects/uitdatabank/models/event-typicalAgeRange.json
  projects/uitdatabank/models/event-typicalAgeRangeConverted.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove openingHoursAdjustedDays documentation
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/common-openingHoursAdjustedDays.json
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event-openingHoursAdjustedDays.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/place-calendar-put.json
  projects/uitdatabank/models/place-openingHoursAdjustedDays.json
  projects/uitdatabank/models/place-with-read-example.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove openingHoursClosedDays documentation
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/common-openingHoursClosedDays.json
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/place-calendar-put.json
  projects/uitdatabank/models/place-with-read-example.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove overnight documentation
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove faqs documentation
  projects/uitdatabank/models/event-faqs-put.json
  projects/uitdatabank/models/event-faqs.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/faq.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove childcare documentation
  REVIEW.md
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/docs/search-api/filters/childcare.md
  projects/uitdatabank/models/event-openingHours-childcare.json
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-childcare.json
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Remove `xl` calendar summary documentation
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
  projects/uitdatabank/models/offer-calendarSummary.detail.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix JSON schema syntax
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove childcare example from CLAUDE.md
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Drop duplicate example
  projects/uitdatabank/models/event-openingHours.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Replace description override with a generic example
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove openingHoursClosedDays documentation
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/common-openingHoursClosedDays.json
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/place-calendar-put.json
  projects/uitdatabank/models/place-with-read-example.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove `xl` calendar summary documentation
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
  projects/uitdatabank/models/offer-calendarSummary.detail.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove how-to guide about creating BOA events
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/docs/entry-api/events/create.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove birthdateRange documentation
  projects/uitdatabank/docs/errors.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/models/event-birthdateRange-put.json
  projects/uitdatabank/models/event-birthdateRange.json
  projects/uitdatabank/models/event-birthdateRangeConverted.json
  projects/uitdatabank/models/event-search.json
  projects/uitdatabank/models/event-typicalAgeRange.json
  projects/uitdatabank/models/event-typicalAgeRangeConverted.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove childcare documentation
  REVIEW.md
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/docs/search-api/filters/childcare.md
  projects/uitdatabank/models/event-openingHours-childcare.json
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-childcare.json
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Remove faqs documentation
  projects/uitdatabank/models/event-faqs-put.json
  projects/uitdatabank/models/event-faqs.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/faq.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove departurePlaces documentation
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/departure-places.md
  projects/uitdatabank/models/common-departurePlaces.json
  projects/uitdatabank/models/event-departurePlaces-put.json
  projects/uitdatabank/models/event-departurePlaces.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Removed BOA fields from upcoming release notes
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove childcare example from CLAUDE.md
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Drop duplicate example
  projects/uitdatabank/models/event-openingHours.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove references to BOA fields from REVIEW.md
  REVIEW.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove overnight documentation
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix JSON schema syntax
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove openingHoursAdjustedDays documentation
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/common-openingHoursAdjustedDays.json
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event-openingHoursAdjustedDays.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/place-calendar-put.json
  projects/uitdatabank/models/place-openingHoursAdjustedDays.json
  projects/uitdatabank/models/place-with-read-example.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove childrenOnly documentation
  projects/uitdatabank/docs/search-api/filters/children-only.md
  projects/uitdatabank/models/event-childrenOnly-put.json
  projects/uitdatabank/models/event-childrenOnly.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Drop duplicate example"
  projects/uitdatabank/models/event-openingHours.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove childcare example from CLAUDE.md"
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Revert "Fix JSON schema syntax"
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove `xl` calendar summary documentation"
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
  projects/uitdatabank/models/offer-calendarSummary.detail.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove childcare documentation"
  REVIEW.md
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/docs/search-api/filters/childcare.md
  projects/uitdatabank/models/event-openingHours-childcare.json
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-subEvent-childcare.json
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Revert "Remove faqs documentation"
  projects/uitdatabank/models/event-faqs-put.json
  projects/uitdatabank/models/event-faqs.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/faq.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove overnight documentation"
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove openingHoursClosedDays documentation"
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/common-openingHoursClosedDays.json
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/place-calendar-put.json
  projects/uitdatabank/models/place-with-read-example.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove openingHoursAdjustedDays documentation"
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/common-openingHoursAdjustedDays.json
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event-openingHoursAdjustedDays.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/place-calendar-put.json
  projects/uitdatabank/models/place-openingHoursAdjustedDays.json
  projects/uitdatabank/models/place-with-read-example.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove birthdateRange documentation"
  projects/uitdatabank/docs/errors.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/models/event-birthdateRange-put.json
  projects/uitdatabank/models/event-birthdateRange.json
  projects/uitdatabank/models/event-birthdateRangeConverted.json
  projects/uitdatabank/models/event-search.json
  projects/uitdatabank/models/event-typicalAgeRange.json
  projects/uitdatabank/models/event-typicalAgeRangeConverted.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers
