Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

Remove more release notes about ownerships
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove another release note about ownerships
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about RDF projection
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove another RDF release note
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal API key caching
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about replays
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about user caching
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove another RDF release note
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove another RDF release note
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about ownerships
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal valueobject class
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release notes about internal labels endpoint
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about bugfix in internal projector
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

UPS-6053 check-in history / ticket-sale history
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6053 check-in history / ticket-sale history / redeemed-reward
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6053 check-in history / ticket-sale history / redeemed-reward
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6107 include cardSystemIds in permission details
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Remove departure places from Search TOC
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7233 remove childrenOnly from audienceType enum
  projects/uitdatabank/models/event-audience.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7233 add childrenOnly boolean property to event
  projects/uitdatabank/models/event-childrenOnly.json
  projects/uitdatabank/models/event.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7233 add PUT /events/{eventId}/children-only endpoint
  projects/uitdatabank/models/event-childrenOnly-put.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7233 update departurePlaces validation to use childrenOnly boolean
  projects/uitdatabank/models/common-departurePlaces.json
  projects/uitdatabank/models/event-departurePlaces.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7233 update event read/write examples for childrenOnly
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7233 update create-boa docs for childrenOnly boolean
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

improve text
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

make clear field does respect old value when not sent
  projects/uitdatabank/models/event-childrenOnly.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

bert removal requests
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

move boa related fields to seperate upcoming title
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Update the readonly version of common uri to extend common uri so they have the same regex
  projects/uitdatabank/models/common-string-uri-readOnly.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

use common-string file
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Clarify that childrenOnly: false will never be shown in the response
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/models/event-childrenOnly.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Improve clarity of duplicate places response
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

proposal new/replace membership endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

proposal new/replace membership endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

move birthdateRange to boa upcoming features
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Restrict bookingAvailability `Unavailable` for permanent/periodic calendars
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/place-calendar-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

updated proposal new membership
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6049 allow to fetch granted coupons (#516)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6063 clarification
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6107 include cardSystemIds in permission details (#532)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers
