Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

update info about searching camping events
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add completeness as advanced query field
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add completeness models
  projects/uitdatabank/models/common-completeness.json
  projects/uitdatabank/models/event-completeness.json
  projects/uitdatabank/models/organizer-completeness.json
  projects/uitdatabank/models/place-completeness.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Linting™
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitpas/docs/registering-events.md
Owners: @JonasVHG, @LucWollants, @corneelwille, @erwin1, @JurgenG, @brusselsregular

Delete projects/uitdatabank/models/common-title.json
  projects/uitdatabank/models/common-title.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove `contributors` field
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix linting issue
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Remove URL which is incorrectly marked as a dead url by the linter
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Release notes 2024-02-15
  projects/release-notes/docs/uitdatabank/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Use `value` instead of `score`
  projects/uitdatabank/docs/search-api/sorting.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Use `Example` instead of `Examples`
  projects/uitdatabank/docs/search-api/sorting.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Use `Example` instead of `Examples`
  projects/uitdatabank/docs/search-api/sorting.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Sort paragraphs alphabetically
  projects/uitdatabank/docs/search-api/sorting.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add disclaimer about new functionality
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add organizers example
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add organizers example
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Sort paragraphs alphabetically
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix link
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Fix link
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Remove link
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Remove link
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Fix info block
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add completeness model
  projects/uitdatabank/models/common-completeness.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add completeness to JSON projections
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/organizer.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix typo
  projects/uitdatabank/docs/entry-api/shared/labels.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add alert about labels that don't get overwritten
  projects/uitdatabank/docs/entry-api/shared/labels.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/docs/entry-api/shared/labels.md
  projects/uitdatabank/docs/entry-api/shared/labels.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix typo
  projects/uitdatabank/docs/search-api/filters/default-filters.md
Owners: @JonasVHG, @LucWollants, @corneelwille

no message
  projects/uitdatabank/docs/search-api/filters/default-filters.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove link to shared contributors page from side bar
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add error message about duplicate place
  projects/errors/docs/type-body.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add release notes
  projects/release-notes/docs/widgets/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Improve copy
  projects/release-notes/docs/widgets/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add extra improvement
  projects/release-notes/docs/widgets/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Improve error duplicate places
  projects/uitdatabank/docs/errors.md
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add model of an ownership request
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add internal endpoint to create ownership
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Mark ownership model as internal
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Make all fields required
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add example
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille
