Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bertramakers, @erwin1, @Stiksels, @DizzyMissLizzy, @LucWollants, @corneelwille, @JurgenG, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @bertramakers

# Authentication owners
/projects/authentication @bertramakers @erwin1

# museumPASSmusées owners
/projects/museumpassmusees @bertramakers @erwin1

# museumPASSmusées Markdown docs owners
/projects/museumpassmusees/docs @bertramakers @erwin1 @Stiksels @DizzyMissLizzy

# UiTdatabank owners
/projects/uitdatabank @bertramakers @LucWollants

# UiTdatabank Markdown docs owners
/projects/uitdatabank/docs @bertramakers @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @bertramakers @erwin1

# UiTPAS Markdown docs owners
/projects/uitpas/docs @bertramakers @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @bertramakers @corneelwille

Add /offers endpoint (copy from /events)
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Fix /offers operation id
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Group /events, /places and /offers together
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Add @type to /events, /offers and /places response examples
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Fix response description & schema of /offers and /places
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Add /organizers
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Add category uitpas to enum of priceInfo
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

undo formatting by stoplight studio
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

undo formatting by stoplight studio
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

undo formatting by stoplight studio
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

undo formatting by stoplight studio
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

Add UiTPAS to priceInfo enum
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

Improve description of PriceInfo Category
  projects/uitdatabank/models/common-priceInfo.json
Owners: @bertramakers, @LucWollants

Add page about how to request credentials
  projects/authentication/docs/requesting-credentials.md
  projects/authentication/toc.json
Owners: @bertramakers, @erwin1

Add introduction page
  projects/authentication/docs/introduction.md
  projects/authentication/toc.json
Owners: @bertramakers, @erwin1

Fix dead links to ietf web pages
  projects/api-design-guidelines/docs/rest.md
Owners: @bertramakers

Remove "function"
  projects/authentication/docs/introduction.md
Owners: @bertramakers, @erwin1

Mention that UiTPAS integrators can access UDB with the same client credentials
  projects/authentication/docs/requesting-credentials.md
Owners: @bertramakers, @erwin1

Reword museumPASSmusées info to avoid double "very specific"
  projects/authentication/docs/requesting-credentials.md
Owners: @bertramakers, @erwin1

Tweak UDB info a little bit
  projects/authentication/docs/requesting-credentials.md
Owners: @bertramakers, @erwin1

Add info block that you can access multiple APIs with the same client credentials, if configured correctly on our end
  projects/authentication/docs/requesting-credentials.md
Owners: @bertramakers, @erwin1

Add a table with an overview of the supported authentication method(s) per API
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Remove redundant info block
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Reword sentence about picking a token type
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Reword sentence about authentication being dependent on API or endpoint
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Remove mention of things that are not released for now
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Add info that you can use multiple auth methods
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Remove examples from list of possible methods
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Add example why an API might have an endpoint that deviates from the list of supported auth methods
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Use "normal" casing
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Add extra links to more detailed pages
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Expand the summary of client identification a bit, as it is a "proprietary" method
  projects/authentication/docs/methods.md
Owners: @bertramakers, @erwin1

Add advanced queries page to side bar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Add requirements for client identification
  projects/authentication/docs/client-identification.md
Owners: @bertramakers, @erwin1

Group "Via header" and "Via query parameter" under a "Usage" header
  projects/authentication/docs/client-identification.md
Owners: @bertramakers, @erwin1

Move info about 2 methods underneath Usage header
  projects/authentication/docs/client-identification.md
Owners: @bertramakers, @erwin1

Better explain what client identification method to use in which case
  projects/authentication/docs/client-identification.md
Owners: @bertramakers, @erwin1

Add note that header names are case insensitive
  projects/authentication/docs/client-identification.md
Owners: @bertramakers, @erwin1

Remove example of default/prefix query as we will probably not support this anymore for (new) auth0 clients
  projects/authentication/docs/client-identification.md
Owners: @bertramakers, @erwin1

Linting™
  projects/authentication/docs/client-identification.md
Owners: @bertramakers, @erwin1
