Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

III-7155 document application/json upload method on POST /images
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7155 document application/json upload method in images guide
  projects/uitdatabank/docs/entry-api/shared/images.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Hide BOA page in the nav
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6048 update passholder (#515)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Fix broken link, clarify description of PUT endpoint
  projects/uitdatabank/docs/entry-api/places/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Release notes 2025
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Add release notes to navigation
  projects/release-notes/toc.json
Owners: @JonasVHG, @willaerk, @bertramakers

Add 2026 release notes
  projects/release-notes/docs/uitdatabank/2026.md
  projects/release-notes/toc.json
Owners: @JonasVHG, @willaerk, @bertramakers

Place specific description for capacity
  projects/uitdatabank/models/place-bookingAvailability.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

fix invalid UUID in departure places examples
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/departure-places.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

use http fenced blocks in departure places filter docs for consistency
  projects/uitdatabank/docs/search-api/filters/departure-places.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

align departure places filter doc structure with neighbouring filter docs
  projects/uitdatabank/docs/search-api/filters/departure-places.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

move departurePlaces parameter next to locationId in search.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

move departurePlaces component definition next to locationId in search.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7155 clarify inLanguage vs language naming difference between upload methods
  projects/uitdatabank/docs/entry-api/shared/images.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Actually make vouchers endpoint internal
  projects/museumpassmusees/reference/partner-api.json
Owners: @DizzyMissLizzy, @erwin1, @bertramakers

UPS-6049 grouppasses tag
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6049 status query param
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6049 fix merge
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6049 document possible error
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6049 document permissions
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6049 coupons extra filtering
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Remove release note about internal verenigingsloket endpoints
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal user endpoint
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal ownerships endpoint
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about ownerships logic
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about YouTube cronjob
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal addresses/streets endpoint
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about link in email
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal saved-searches endpoint
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove more release notes about saved searches
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal creator endpoint for organizers
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about handling of JWT v2 tokens
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about config files
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal ownerships endpoint
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove another release note about ownerships
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about internal CLI commands
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove release note about static list for Cultuurkuur
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove another release note about a CLI command
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove more release notes about ownerships
  projects/release-notes/docs/uitdatabank/2025.md
Owners: @JonasVHG, @willaerk, @bertramakers
