Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bertramakers, @erwin1, @Stiksels, @DizzyMissLizzy, @LucWollants, @corneelwille, @JurgenG, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @bertramakers

# Authentication owners
/projects/authentication @bertramakers @erwin1

# museumPASSmusées owners
/projects/museumpassmusees @bertramakers @erwin1

# museumPASSmusées Markdown docs owners
/projects/museumpassmusees/docs @bertramakers @erwin1 @Stiksels @DizzyMissLizzy

# UiTdatabank owners
/projects/uitdatabank @bertramakers @LucWollants

# UiTdatabank Markdown docs owners
/projects/uitdatabank/docs @bertramakers @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @bertramakers @erwin1

# UiTPAS Markdown docs owners
/projects/uitpas/docs @bertramakers @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @bertramakers @corneelwille

Make extra json example formatted as json instead as javascript
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Make response examples valid json and add accompanying sentence
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Remove thousands separators for values and wrap in backticks
  projects/uitdatabank/docs/search-api/pagination.md
Owners: @bertramakers, @LucWollants, @corneelwille

Remove thousands separators for values and wrap in backticks
  projects/uitdatabank/docs/search-api/pagination.md
Owners: @bertramakers, @LucWollants, @corneelwille

Change header title
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Change copy for header
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Change overview for parameter and its possible values
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Remove info block
  projects/uitdatabank/docs/search-api/pagination.md
Owners: @bertramakers, @LucWollants, @corneelwille

Format json correctly
  projects/uitdatabank/docs/search-api/pagination.md
Owners: @bertramakers, @LucWollants, @corneelwille

Add models for search facets
  projects/uitdatabank/models/common-facet.json
  projects/uitdatabank/models/common-facets.json
Owners: @bertramakers, @LucWollants

Document possible values for facets parameter
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Document /events response body (200)
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Fix repeatable parameters and clarify which one can be repeated how exactly
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Replace "fields" by "filters"
  projects/uitdatabank/docs/search-api/facets.md
Owners: @bertramakers, @LucWollants, @corneelwille

Format json examples correctly
  projects/uitdatabank/docs/search-api/facets.md
Owners: @bertramakers, @LucWollants, @corneelwille

Move alerts to top of the page
  projects/uitdatabank/docs/search-api/facets.md
Owners: @bertramakers, @LucWollants, @corneelwille

Tweak member description
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Optimize info about repeating query parameters
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Remove tags from SAPI3 openapi file
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Add introduction text about facets
  projects/uitdatabank/docs/search-api/facets.md
Owners: @bertramakers, @LucWollants, @corneelwille

Add Events tag
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Add Search API to sidebar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Remove quotes
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Linting™
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Add response example
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

uitpas: larger default limit value for cardsystems
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

uitpas: larger default limit value for cardsystems
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

UPS-3610 array params in Reward search
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

PUBMPM-932 extra error type
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

PUBMPM-932 use one role for all visits
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

UPS-3610 removed labels until use case is clear
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

UPS-3610 removed extras (+facets) and added individual fields instead
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

UPS-3610 better names for boolean facets
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

UPS-3610 removed examples for labels
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

UPS-3610 extra reward properties: online, lastChance
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

Add 4XX responses
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Change descriptions
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Move parameters to shared components
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Don't mix product name UiTinVlaanderen and URL uitinvlaanderen.be
  projects/uitpas/docs/faq.md
Owners: @bertramakers, @erwin1, @JurgenG, @brusselsregular

Add /places endpoint (copy from /events)
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants
