Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

Remove places booking-availability doc
  projects/uitdatabank/docs/entry-api/places/booking-availability.md
  projects/uitdatabank/docs/entry-api/places/create.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Apply suggestion from @claude[bot]
  projects/uitdatabank/docs/entry-api/places/create.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document childrenOnly as an advanced query field
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document hasChildcare as an advanced query field
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix hasChildcare advanced query docs per review feedback
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix childrenOnly advanced query docs per review feedback
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Fix childrenOnly advanced query docs per review feedback"
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert /places from hasChildcare applicable endpoints
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Note the window the recurring fields are counted over
  projects/uitdatabank/docs/search-api/filters/recurring-day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Note how far ahead dates get indexed
  projects/uitdatabank/docs/search-api/filters/datetime.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

minor text edit
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Don't trigger claude reviews automatically
  .github/workflows/claude.yml
Owners: @JonasVHG, @willaerk, @bertramakers

UPS-6153 added organizerId in POST /ticket-sales
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 added organizerId in POST /rewards/redeemed
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 added organizer in Checkin model
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 fix new line in list
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 fix claude remark
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 fix claude remark: better permission description
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 fix claude remark: document default organizer
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 clarification
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6156 replace card proposal
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6156 replace card: refine cardType changes
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6157 uitid status API for balie admins
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6156 refine replace card
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6156 claude remarks
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6156 claude remarks
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6156 claude remarks
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6156 claude remarks
  projects/uitpas/docs/errors.md
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6153 claude remarks
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

fix linting
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6157 uitid API different approach: allow to lookup the uitid email of a passholder.
  projects/uitpas/docs/errors.md
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6157 clarification
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers
