Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

bugfix from to
  projects/uitdatabank/models/event-birthdateRange-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

remove ids
  projects/uitdatabank/models/event-birthdateRange-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

add description
  projects/uitdatabank/models/event-birthdateRange-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

linting
  projects/uitdatabank/models/event-birthdateRange-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

changed slugs error
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

try with reference instead of full object
  projects/uitdatabank/models/event-birthdateRange-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

comma too many
  projects/uitdatabank/models/event-birthdateRange-put.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6051 GET endpoint included potential memberships + clarifications
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 removed unused GET /associations
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 sample + fixes
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 DELETE improvements
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update claude.yml
  .github/workflows/claude.yml
  REVIEW.md
Owners: @JonasVHG, @willaerk, @bertramakers

Revert "UPS-6051 removed unused GET /associations"
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 revert removal of GET /associations
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 include organizer permissions in association memberships response
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 fix tag
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 permissions is readonly
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 revert include organizer permissions in association memberships response
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 associations (#517)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 extra passholder filter associationMembershipStatus
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 extra passholder filter associationMembershipStatus
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Add clarification about Snowplow-tracking
  projects/widgets/docs/gebruiksvoorwaarden.md
Owners: @JonasVHG, @corneelwille, @bertramakers

bugfix
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add advanced query for birthdateRange
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

common filter for birthdate range
  projects/uitdatabank/docs/search-api/filters/birthdate-range.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

use kebab case for departure places
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6051 association search clarifications
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6051 extra passholder filter associationMembershipStatus (#521)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6048 document extra permission for foreign passholders
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6048 fixes
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

merge
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

update toc
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/search-api/filters/birthdate-range.md
  projects/uitdatabank/docs/search-api/filters/birthdate-range.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

add upcoming
  projects/release-notes/docs/uitdatabank/upcoming.md
Owners: @JonasVHG, @willaerk, @bertramakers

add bdr to search.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

add info about multiple values via commas
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7155 fix contentUrl using readOnly ref in image-post request body
  projects/uitdatabank/models/image-post.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers
