Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

Revert "Remove departurePlaces documentation"
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/departure-places.md
  projects/uitdatabank/models/common-departurePlaces.json
  projects/uitdatabank/models/event-departurePlaces-put.json
  projects/uitdatabank/models/event-departurePlaces.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove childrenOnly documentation"
  projects/uitdatabank/docs/search-api/filters/children-only.md
  projects/uitdatabank/models/event-childrenOnly-put.json
  projects/uitdatabank/models/event-childrenOnly.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Remove references to BOA fields from REVIEW.md"
  REVIEW.md
Owners: @JonasVHG, @willaerk, @bertramakers

Revert "Remove how-to guide about creating BOA events"
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/docs/entry-api/events/create.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Removed BOA fields from upcoming release notes"
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Add guide about creating BOA events to navigation
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Make title consistent with other guides
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add guide about filtering on departure places to navigation
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Rename models/faq.json to models/event-faq.json
  projects/uitdatabank/models/event-faq.json
  projects/uitdatabank/models/event-faqs-put.json
  projects/uitdatabank/models/event-faqs.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix JSON formatting
  projects/uitdatabank/models/event-subEvent-childcare.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove dead link from navigation
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix faq/faqs inconsistencies
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Fix "accomodation" typo
  projects/uitdatabank/docs/search-api/filters/overnight.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix mistake of default childrenOnly filter value in children-only.md guide
  projects/uitdatabank/docs/search-api/filters/children-only.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document support of birthdateRange filter on `/offers` endpoint
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix event-faqs.json example
  projects/uitdatabank/models/event-faqs.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix event-faq.json and event-faqs.json titles
  projects/uitdatabank/models/event-faq.json
  projects/uitdatabank/models/event-faqs.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix $refs with sibling keywords
  projects/uitdatabank/models/event-openingHours-childcare.json
  projects/uitdatabank/models/event-subEvent-childcare.json
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Make common-departurePlaces.json description generic for re-use
  projects/uitdatabank/models/common-departurePlaces.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix BOA example
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix broken link in BOA guide
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Make SearchAPI filter guides menu link and page titles consistent
  projects/uitdatabank/docs/search-api/filters/childcare.md
  projects/uitdatabank/docs/search-api/filters/children-only.md
  projects/uitdatabank/docs/search-api/filters/datetime.md
  projects/uitdatabank/docs/search-api/filters/departure-places.md
  projects/uitdatabank/docs/search-api/filters/location.md
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix headings for closed days and adjusted opening hours in calendar info guide
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Clarify that overlapping closed days are allowed
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add missing properties to examples
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-write-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Put children-only and departureplaces endpoints in correct alphabetical order
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix broken link due to heading rename
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add release notes project id to branch cleanup action
  .github/workflows/clean-stoplight-branches.yml
Owners: @JonasVHG, @willaerk, @bertramakers

Fix yaml syntax
  .github/workflows/clean-stoplight-branches.yml
Owners: @JonasVHG, @willaerk, @bertramakers

Changed permission for PUT passholder to PASSHOLDERS_UPDATE
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Applied PR remark
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6108 registrationOrganizer is required
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6108 registrationOrganizer is now required in update passholder (#571)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Changed permission for PUT passholder to PASSHOLDERS_UPDATE (#587)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Also tell Claude not to repeat feedback in the overall review comment
  .github/workflows/claude.yml
Owners: @JonasVHG, @willaerk, @bertramakers

Rename overnight to hasOvernightStay in subEvent models
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Rename overnight to hasOvernightStay in Entry API guides
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Rename hasOvernight filter to hasOvernightStay
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Rename overnight filter guide to overnight-stay
  projects/uitdatabank/docs/search-api/filters/overnight-stay.md
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update release notes for hasOvernightStay
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers
