Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

rename legacy to offer
  projects/uitdatabank/models/common-string-offer-email.json
  projects/uitdatabank/models/common-string-offer-uri.json
Owners: @JonasVHG, @LucWollants, @corneelwille

delete separate offer uri & emails
  projects/uitdatabank/models/common-offer-contactPoint.json
  projects/uitdatabank/models/common-string-offer-email.json
  projects/uitdatabank/models/common-string-offer-uri.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add info about empty string
  projects/uitdatabank/models/common-offer-contactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix regex copy paste error
  projects/uitdatabank/models/common-offer-contactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

update note about empty strings
  projects/uitdatabank/models/common-offer-contactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Allow encoded space
  projects/uitdatabank/models/common-string-uri-image.json
Owners: @JonasVHG, @LucWollants, @corneelwille

PR remarks
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PR remarks
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

Update projects/authentication/docs/client-access-token.md
  projects/authentication/docs/client-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PR remarks
  projects/authentication/docs/client-access-token.md
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

Uitid/pk 41 keycloak switch (#408)
  projects/authentication/docs/client-access-token.md
  projects/authentication/docs/errors.md
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PK-41 tweak auth docs
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PK-41 fix linting
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PK-41 tweak auth docs (#413)
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

Add DELETE ownership endpoint documentation
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add 4xx responses
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Work on ownership data model
  projects/uitdatabank/models/ownership-itemType.json
  projects/uitdatabank/models/ownership-post.json
  projects/uitdatabank/models/ownership-state.json
  projects/uitdatabank/models/ownership.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add email ref
  projects/uitdatabank/models/common-string-email.json
  projects/uitdatabank/models/ownership-post.json
  projects/uitdatabank/models/ownership.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add missing descriptions
  projects/uitdatabank/models/ownership-state.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/models/ownership-itemType.json
  projects/uitdatabank/models/ownership-itemType.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Tweak description
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove readonly from POST parameters
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added documentation for approve/reject ownership endpoints
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

top level uitpasnumber is readonly
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 grouppass
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 remove name from grouppass search
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 remove name from grouppass search
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 add permission
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 remove number and box from address
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 enddate format
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 errors
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

added grouppasses (#417)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 move grouppasses to separate tag
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4877 move grouppasses to separate tag (#418)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4883 document max limit value exceeded on all endpoints that use limit
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

fix dead link
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

UPS qr checkincodes as download link (#362)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4849 use explicit model because new inline models mess up code generation
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

fix dead link
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

UPS-4849 use explicit model because new inline models mess up code ge… (#420)
  projects/api-design-guidelines/docs/rest.md
  projects/uitpas/reference/uitpas.json
Owners: @JonasVHG, @willaerk, @simon-debruijn, @erwin1, @JurgenG, @brusselsregular
