Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

fix
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

fix
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

fix
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4665 clarify permission needed to delete family member (#351)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Fix basic auth documentation (#350)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Update image
  projects/widgets/assets/images/geavanceerde-zoekopdracht-bouwer.png
Owners: @JonasVHG, @corneelwille

Add embedContributors-parameters
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Make embedContributors parameter required
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Correct typo (NL / EN)
  projects/release-notes/docs/uitdatabank/2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add release notes for fixversion 2024-01-08
  projects/release-notes/docs/uitdatabank/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add newline to fix linting issue
  projects/release-notes/docs/uitdatabank/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Improve grammar
  projects/release-notes/docs/uitdatabank/2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Improve grammar pt 2
  projects/release-notes/docs/uitdatabank/2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Fix incorrect title
  projects/release-notes/docs/uitdatabank/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add release notes for release of 16-01-2024
  projects/release-notes/docs/widgets/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add documentation about activation of uitx
  projects/widgets/docs/configureren/zoekresultaten.md
Owners: @JonasVHG, @corneelwille

Update projects/release-notes/docs/widgets/2024.md
  projects/release-notes/docs/widgets/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

add 2024 releas notes pages to sidebar
  projects/release-notes/toc.json
Owners: @JonasVHG, @willaerk, @simon-debruijn

Linting™
  projects/release-notes/docs/widgets/2024.md
  projects/uitdatabank/docs/entry-api/shared/price-info.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @LucWollants, @corneelwille

Remove incorrect sentence about the `workflowStatus` being applicable on /organizers endpoint
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added 409 status to Places
  projects/uitdatabank/docs/errors.md
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added different scenario for singuler / multiple places found
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Very strange problem here - the URL to hemingwayapp.com broken the linter, because this site returns a 500. The site does still work however... it just returns a 500.
  README.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Updated error messages
  projects/uitdatabank/docs/errors.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix heading & typo
  projects/release-notes/docs/widgets/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add release notes
  projects/release-notes/docs/uitdatabank/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Set contributor docs to internal
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS qr checkincodes as download link
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Link to docs on how to enable / disable cardsystems
  projects/uitdatabank/docs/entry-api/events/create-uitpas.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Correct link
  projects/uitdatabank/docs/entry-api/events/create-uitpas.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove old screenshots
  projects/uitpas/assets/images/uitdatabank-event-id.png
  projects/uitpas/assets/images/uitdatabank-event-organizer.png
  projects/uitpas/assets/images/uitdatabank-event-price.png
  projects/uitpas/assets/images/uitdatabank-event-uitpas.png
Owners: @erwin1, @JurgenG, @brusselsregular

Add new screenshots
  projects/uitpas/assets/images/uitdatabank-uitpas-event-cardsystems.png
  projects/uitpas/assets/images/uitdatabank-uitpas-event-id.png
  projects/uitpas/assets/images/uitdatabank-uitpas-event-organizer.png
  projects/uitpas/assets/images/uitdatabank-uitpas-event-price-calculated.png
  projects/uitpas/assets/images/uitdatabank-uitpas-event-price.png
Owners: @erwin1, @JurgenG, @brusselsregular

Update docs
  projects/uitpas/docs/registering-events.md
Owners: @erwin1, @JurgenG, @brusselsregular

added grouppasses (WIP)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

uitpas checkin status (WIP)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Limited name/title to 90 chars
  projects/uitdatabank/models/common-name-localized.json
  projects/uitdatabank/models/common-title.json
  projects/uitdatabank/models/event-name.json
  projects/uitdatabank/models/organizer-name.json
  projects/uitdatabank/models/place-name.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/docs/errors.md
  projects/uitdatabank/docs/errors.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add paragraph for completeness sorting
  projects/uitdatabank/docs/search-api/sorting.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add paragraph about completeness advanced query
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

update info about publishing camping events
  projects/uitdatabank/docs/entry-api/events/publish.md
Owners: @JonasVHG, @LucWollants, @corneelwille

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille
