Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bertramakers, @erwin1, @Stiksels, @DizzyMissLizzy, @LucWollants, @corneelwille, @JurgenG, @brusselsregular

Add requirements for client access tokens
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Clean up and expand introduction of client access tokens
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Remove logout URL in client configuration
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Simplify info block about Auth0
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Remove overview header
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add requirements, and put client config in requirements instead of further down
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Document how it works as a mermaid diagram sequence
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Format property explanations as bullet list
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Tweak info about caching tokens
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Change "Domains" header to "Authorization server URLs"
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Clarify what to do with different client id and secret per environment
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Linting™
  projects/uitdatabank/docs/search-api/embedding.md
  projects/uitdatabank/docs/search-api/sorting.md
Owners: @bertramakers, @LucWollants, @corneelwille

Linting™
  README.md
  projects/authentication/docs/methods.md
  projects/uitpas/docs/creating-rewards.md
Owners: @bertramakers, @erwin1, @JurgenG, @brusselsregular

Linting™
  projects/uitdatabank/docs/search-api/default-filters.md
  projects/uitdatabank/docs/search-api/sorting.md
Owners: @bertramakers, @LucWollants, @corneelwille

Fix weird indentation due to automatic linting that tripped over whitespace padding in backticks
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Create advanced queries doc page
  projects/uitdatabank/docs/search-api/advanced-queries.md
Owners: @bertramakers, @LucWollants, @corneelwille

Document q parameter
  projects/uitdatabank/docs/search-api/advanced-queries.md
Owners: @bertramakers, @LucWollants, @corneelwille

Add status example for places
  projects/uitdatabank/docs/search-api/advanced-queries.md
Owners: @bertramakers, @LucWollants, @corneelwille

Rename Flow to How it works
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Reword info about PKCE flow a bit better
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Rename Domains to Authorization server URLs
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Clarify what to do with client id/secret per environment
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Change caching info block to a header
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Copy caching & expiration part from client access tokens to user access tokens
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add header above warning about token parsing
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Copy info about token decoding from client access tokens guide to user access tokens guide
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Move audience property info so it becomes more visible
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Remove validation step in flow
  projects/authentication/docs/client-access-token.md
Owners: @bertramakers, @erwin1

Add a diagram to explain the flow for regular web applications
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add missing periods
  projects/authentication/docs/client-access-token.md
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add a diagram to explain the flow for native / SPA applications
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Mark User as an actor
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Add step to diagram that the user performs an action in the app
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Linting™
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Resolve merge conflict
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Try to theme a diagram
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Try to fix fontFamily
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Try to fix fontFamily (again)
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Set fontSize
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

Yet another attempt at fixing the fontFamily
  projects/authentication/docs/user-access-token.md
Owners: @bertramakers, @erwin1

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @bertramakers

# Authentication owners
/projects/authentication @bertramakers @erwin1

# museumPASSmusées owners
/projects/museumpassmusees @bertramakers @erwin1

# museumPASSmusées Markdown docs owners
/projects/museumpassmusees/docs @bertramakers @erwin1 @Stiksels @DizzyMissLizzy

# UiTdatabank owners
/projects/uitdatabank @bertramakers @LucWollants

# UiTdatabank Markdown docs owners
/projects/uitdatabank/docs @bertramakers @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @bertramakers @erwin1

# UiTPAS Markdown docs owners
/projects/uitpas/docs @bertramakers @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @bertramakers @corneelwille
