Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bertramakers, @erwin1, @Stiksels, @DizzyMissLizzy, @LucWollants, @corneelwille, @JurgenG, @brusselsregular

make the difference between properties of rewards clearer
  projects/uitpas/docs/creating-rewards.md
Owners: @bertramakers, @erwin1, @JurgenG, @brusselsregular

consistent use of list
  projects/uitpas/docs/creating-rewards.md
Owners: @bertramakers, @erwin1, @JurgenG, @brusselsregular

PUBMPM-932 museumpassmusees partner api: endpoints for external card visits
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

PUBMPM-932 fix details
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

PUBMPM-932 fix
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

PUBMPM-932 better tags
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

add clarification to image URLs
  projects/uitpas/docs/creating-rewards.md
Owners: @bertramakers, @erwin1, @JurgenG, @brusselsregular

publish new UPS endpoints
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

Make alert info about disabeling defaultfilters more generic
  projects/uitdatabank/docs/search-api/default-filters.md
Owners: @bertramakers, @LucWollants, @corneelwille

Create documentation page for embedding
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Create documentation page for pagination
  projects/uitdatabank/docs/search-api/pagination.md
Owners: @bertramakers, @LucWollants, @corneelwille

Add pagination docs to side bar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Clarfiy that the calendar summary is only available for events and places
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Remove dots at the end of list items & correct typo
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Add link to embedding docs to sidebar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Sort links in sidebar alphabetically
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Make styling for request and response titles consistent
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Add link to facets documentation page to sidebar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Add facet documentation page
  projects/uitdatabank/docs/search-api/facets.md
Owners: @bertramakers, @LucWollants, @corneelwille

Add SAPI3 OpenAPI file with events path with all possible query params
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Mention parameters that accept multiple comma-separated values
  projects/uitdatabank/reference/search.json
Owners: @bertramakers, @LucWollants

Add case sentivity page to sidebar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Add documentation page about case sensitivity
  projects/uitdatabank/docs/search-api/case-sensitivity.md
Owners: @bertramakers, @LucWollants, @corneelwille

PUBMPM-932 no error type for 503 response
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

PUBMPM-932 indicate that a POST body is not required
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

Fix link to external-cards lookup endpoint
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

PUBMPM-932 removed reason
  projects/museumpassmusees/reference/partner-api.json
Owners: @bertramakers, @erwin1

Add escaping docs to sidebar
  projects/uitdatabank/toc.json
Owners: @bertramakers, @LucWollants

Add escaping documentation page
  projects/uitdatabank/docs/search-api/escaping.md
Owners: @bertramakers, @LucWollants, @corneelwille

Correct copy about when to escape a colon
  projects/uitdatabank/docs/search-api/escaping.md
Owners: @bertramakers, @LucWollants, @corneelwille

UPS-4080 document default passholder sort
  projects/uitpas/reference/uitpas.json
Owners: @bertramakers, @erwin1

Make copy about addressCountry grammatically correct
  projects/uitdatabank/docs/search-api/default-filters.md
Owners: @bertramakers, @LucWollants, @corneelwille

Make copy about default filters and when applied clearer
  projects/uitdatabank/docs/search-api/default-filters.md
Owners: @bertramakers, @LucWollants, @corneelwille

Fix typo
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Clarify copy
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Remove list of headers and provide generic copy about embedding
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Clarify copy about formatting dates & calendar summaries
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Make list of base urls
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Format json examples as json instead as javascript
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

Remove embedding UiTPAS prices section
  projects/uitdatabank/docs/search-api/embedding.md
Owners: @bertramakers, @LucWollants, @corneelwille

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Global owners (also need to be duplicated in later rules)
* @bertramakers

# Authentication owners
/projects/authentication @bertramakers @erwin1

# museumPASSmusées owners
/projects/museumpassmusees @bertramakers @erwin1

# museumPASSmusées Markdown docs owners
/projects/museumpassmusees/docs @bertramakers @erwin1 @Stiksels @DizzyMissLizzy

# UiTdatabank owners
/projects/uitdatabank @bertramakers @LucWollants

# UiTdatabank Markdown docs owners
/projects/uitdatabank/docs @bertramakers @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @bertramakers @erwin1

# UiTPAS Markdown docs owners
/projects/uitpas/docs @bertramakers @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @bertramakers @corneelwille
