Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

add terms to example
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove mention of changing embedUitpasPrices behavior in the future
  projects/uitdatabank/docs/entry-api/events/create-uitpas.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Also update SAPI3 guide
  projects/uitdatabank/docs/search-api/advanced/embedding-uitpas-prices.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-5850 endpoints to manage organizer admins (#499)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Add docs for POST requests
  .spectral.json
  projects/uitdatabank/docs/search-api/getting-started.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Add UnsupportedMediaType
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6006 add current card to cardSystemMembership
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6006 separate model for current card
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6006 add samples for currentCard
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5914 cancel reward API
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6008 kiosk management
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6006 clarify uitpasNumber
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5914 cancel reward API
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5915 add more reward subset filters
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5914 fix error body
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Apply suggestion from @erwin1
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5914 cancel reward API (#504)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6006 add current card to cardSystemMembership (#503)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5915 add more reward subset filters (#506)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6008 kiosk management
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6008 clarify fixed event + rename path
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6008 clarifications + added missing security
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Change name opening hours adjusted days
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event-openingHoursAdjustedDays.json
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Rename event-openingHoursClosedDays to common-openingHoursClosedDays
  projects/uitdatabank/models/common-openingHoursClosedDays.json
  projects/uitdatabank/models/event-calendar-put.json
  projects/uitdatabank/models/event.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add place-openingHoursAdjustedDays schema
  projects/uitdatabank/models/place-openingHoursAdjustedDays.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add openingHoursClosedDays and openingHoursAdjustedDays to place schemas
  projects/uitdatabank/models/place-calendar-put.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add openingHoursClosedDays and openingHoursAdjustedDays to place read example
  projects/uitdatabank/models/place-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update calendar-info docs to cover places for closed/adjusted days
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix place read example: align startDate/endDate with exception dates
  projects/uitdatabank/models/place-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix childcare example in calendar-info: use date format for startDate/endDate
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add capacity to place-bookingAvailability schema
  projects/uitdatabank/models/place-bookingAvailability.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add capacity to bookingAvailability in place read example
  projects/uitdatabank/models/place-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document capacity property in place booking-availability docs
  projects/uitdatabank/docs/entry-api/places/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Restore original wording in booking-availibility.md
  projects/uitdatabank/docs/entry-api/places/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add bookingAvailability with capacity to place write examples
  projects/uitdatabank/models/place-post.json
  projects/uitdatabank/models/place-with-write-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add overnight field to event read model example
  projects/uitdatabank/models/event-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "Add overnight field to event read model example"
  projects/uitdatabank/models/event-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add overnight field to event read model example
  projects/uitdatabank/models/event-with-read-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Expand overnight documentation in calendar-info.md
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

improve calendar-info.md
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers
