Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

Drop array syntax from day-of-week filter docs
  projects/uitdatabank/docs/search-api/filters/day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove dayOfWeek[] array syntax from search API spec
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove dayOfWeek[] array syntax mentions from spec descriptions
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

minor OR clarification
  projects/uitdatabank/docs/search-api/filters/day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document new childrenOnly default and how to reset it
  projects/uitdatabank/docs/search-api/filters/children-only.md
  projects/uitdatabank/docs/search-api/filters/default-filters.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix typo in "publiq" (always lowercase)
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add link to contact us
  projects/uitdatabank/docs/search-api/filters/children-only.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove dayOfWeek[] array syntax from search API spec
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6120 include cardSystem in Pass model
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6166 added _ALL permissions for event endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6108 document use of registrationOrganizer in create and update passholder
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Remove the dayOfWeek documentation from this branch
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document birthdateRangeFrom/birthdateRangeTo as a required pair
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Describe how a birthdate range matches, including the allAges exclusion
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Point to advanced queries for matching multiple birth date ranges
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Align the endpoint list for the birthdate range parameters
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update/revert the childrenOnly documentation to accurately reflect the current situation
  projects/uitdatabank/docs/search-api/filters/children-only.md
  projects/uitdatabank/docs/search-api/filters/default-filters.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Correct the status code for a lone birthdate range bound to 404
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Clarify that subEvent-specific filtering on childcare does not work with advanced queries
  projects/uitdatabank/docs/search-api/filters/childcare.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Same fixes and clarification for overnight filter
  projects/uitdatabank/docs/search-api/filters/overnight.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Small extra fix in childcare doc
  projects/uitdatabank/docs/search-api/filters/childcare.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix small typo in "accomodation"
  projects/uitdatabank/docs/search-api/filters/overnight.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove parameter names from age filter intro
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Auto-run Claude review when a PR is opened
  .github/workflows/claude.yml
Owners: @JonasVHG, @willaerk, @bertramakers

Document how to name boolean properties
  CLAUDE.md
  REVIEW.md
  projects/api-design-guidelines/docs/rest.md
Owners: @JonasVHG, @willaerk, @bertramakers

Group the age filters by URL parameter and advanced query
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document that a birthdate range bound can be used on its own
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Describe the age and birthdate correlation at a higher level
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Skip auto-review on draft pull requests
  .github/workflows/claude.yml
Owners: @JonasVHG, @willaerk, @bertramakers

Mention deprecation/removal of JWT provider support
  projects/uitdatabank/docs/entry-api/authentication.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Format as mailto
  projects/uitdatabank/docs/entry-api/authentication.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document the converted age and birthdate ranges
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/models/event-birthdateRangeConverted.json
  projects/uitdatabank/models/event-search.json
  projects/uitdatabank/models/event-typicalAgeRangeConverted.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document that all ages events match every birthdate range
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Give the birthdateRange advanced query its own section
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Mention the date a converted range is counted from
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6120 include cardSystem in Pass model (#567)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5715 allow client identification for GET grouppasses
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Apply suggestions from code review
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5715 fix pr remarks
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-5715 added client identification example
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers
