Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

Document waitingListUrl on subEvent bookingAvailability
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
  projects/uitdatabank/models/event-bookingAvailability.json
  projects/uitdatabank/models/event-subEvent-bookingAvailability.json
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

cleanup text
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

remove useless remark
  projects/uitdatabank/models/event-bookingAvailability.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/entry-api/events/booking-availability.md
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/entry-api/events/booking-availability.md
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

List all endpoints that accept a waitingListUrl
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Drop the copies endpoint from the waiting list docs
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Fix Spectral crash on null values in examples
  .spectral.json
Owners: @JonasVHG, @willaerk, @bertramakers

Add the waiting list clearing examples
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Mention the waiting list in the BOA guide
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix Spectral crash on null values in examples
  .spectral.json
Owners: @JonasVHG, @willaerk, @bertramakers

Drop the waiting list calendar type error
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update 'return_if_cancelled' description in documentation
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @bertramakers

Update projects/authentication/docs/user-access-token.md
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @bertramakers

Update 'return_if_cancelled' description in documentation (#609)
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @bertramakers

Reject a top-level waitingListUrl instead of ignoring it
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
  projects/uitdatabank/models/event-bookingAvailability.json
  projects/uitdatabank/models/place-bookingAvailability.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

country must be part of address
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers
