Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

Delete incorrect file
  assets/add-integration-button.svg
Owners: @JonasVHG, @willaerk, @simon-debruijn

Delete incorrect file
  assets/create widget button.drawio.svg
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add new CTA buttons
  assets/add-your-integration.svg
  assets/create-widget-button.svg
Owners: @JonasVHG, @willaerk, @simon-debruijn

Rename documentation page
  projects/uitdatabank/docs/entry-api/getting-started.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix button
  projects/uitdatabank/docs/entry-api/getting-started.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add CTA buttons
  assets/add-your-integration.svg
  assets/create-widget-button.svg
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add CTA button to authentication guide
  projects/uitdatabank/docs/search-api/authentication.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add CTA button to search api page
  projects/uitdatabank/docs/entry-api/getting-started.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add CTA button to search api page
  projects/uitdatabank/docs/search-api/getting-started.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add CTA to publiq platform in authentication docs
  projects/authentication/docs/requesting-credentials.md
Owners: @corneelwille, @JurgenG, @JonasVHG

Add CTA to publiq platform in authentication docs entry api
  projects/uitdatabank/docs/entry-api/authentication.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add CTA to publiq platform in authentication docs search api
  projects/uitdatabank/docs/search-api/authentication.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add CTA to publiq platform in UiTPAS docs and follow structure of other docs
  projects/uitpas/docs/quickstart.md
Owners: @erwin1, @JurgenG, @brusselsregular

Add CTA to publiq platform in widget docs
  projects/widgets/docs/aan-de-slag.md
Owners: @JonasVHG, @corneelwille

Fix linting errors
  projects/uitdatabank/docs/entry-api/events/create.md
  projects/uitdatabank/docs/entry-api/places/create.md
  projects/uitdatabank/docs/search-api/authentication.md
Owners: @JonasVHG, @LucWollants, @corneelwille

rename quickstart.md to getting-started.md
  projects/uitpas/docs/getting-started.md
  projects/uitpas/toc.json
Owners: @erwin1, @JurgenG, @brusselsregular

Add CTA to landing page
  landingpage.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Fix button copy
  projects/uitdatabank/docs/search-api/getting-started.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add structure
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

add status & booking availability to side bar + sort alphabetically
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add filtering guide booking availability
  projects/uitdatabank/docs/search-api/filters/booking-availability.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add filtering guide status
  projects/uitdatabank/docs/search-api/filters/status.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Linting™
  projects/authentication/docs/requesting-credentials.md
  projects/release-notes/docs/uitdatabank/2024.md
  projects/release-notes/docs/widgets/2024.md
  projects/uitdatabank/docs/entry-api/shared/labels.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/authentication.md
  projects/uitdatabank/docs/search-api/filters/booking-availability.md
  projects/uitdatabank/docs/search-api/filters/default-filters.md
  projects/uitdatabank/docs/search-api/filters/status.md
  projects/uitpas/docs/getting-started.md
  projects/uitpas/docs/registering-events.md
  projects/uitpas/docs/test-dataset.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @willaerk, @simon-debruijn, @LucWollants, @erwin1, @brusselsregular

Fix link to other docs
  projects/uitdatabank/docs/search-api/filters/booking-availability.md
  projects/uitdatabank/docs/search-api/filters/status.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add status and bookingavailability to side bar, sort alphabetically
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add guide about filtering on bookingavaillability
  projects/uitdatabank/docs/search-api/filters/booking-availability.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add guide about filtering on status
  projects/uitdatabank/docs/search-api/filters/status.md
Owners: @JonasVHG, @LucWollants, @corneelwille

minor copy changes
  projects/uitdatabank/docs/search-api/filters/booking-availability.md
  projects/uitdatabank/docs/search-api/filters/status.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Linting™
  projects/authentication/docs/requesting-credentials.md
  projects/release-notes/docs/uitdatabank/2024.md
  projects/release-notes/docs/widgets/2024.md
  projects/uitdatabank/docs/entry-api/shared/labels.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/authentication.md
  projects/uitdatabank/docs/search-api/filters/booking-availability.md
  projects/uitdatabank/docs/search-api/filters/default-filters.md
  projects/uitdatabank/docs/search-api/filters/status.md
  projects/uitpas/docs/getting-started.md
  projects/uitpas/docs/registering-events.md
  projects/uitpas/docs/test-dataset.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @willaerk, @simon-debruijn, @LucWollants, @erwin1, @brusselsregular

UPS-4951 extra PASSHOLDERS_SEARCH_BY_ID permission
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4951 extra PASSHOLDERS_SEARCH_BY_ID permission
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4951 extra PASSHOLDERS_SEARCH_BY_ID permission
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Uitpas/ups 4951 (#403)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Improve copy
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add guide about filtering on location (draft)
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add link to file
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Link to list of shapes
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Improve copy
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Linting™
  projects/authentication/docs/requesting-credentials.md
  projects/release-notes/docs/uitdatabank/2024.md
  projects/release-notes/docs/widgets/2024.md
  projects/uitdatabank/docs/entry-api/shared/labels.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/authentication.md
  projects/uitdatabank/docs/search-api/filters/default-filters.md
  projects/uitdatabank/docs/search-api/filters/location.md
  projects/uitpas/docs/getting-started.md
  projects/uitpas/docs/registering-events.md
  projects/uitpas/docs/test-dataset.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @willaerk, @simon-debruijn, @LucWollants, @erwin1, @brusselsregular

Fix incorrect link to distance section
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille
