Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

UPS-6081 include passholder search fields: email, address.street and address.city (#548)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6139 UPS-6140 endpoints for new cardssytem memberships (#547)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6053 added creationDate (#544)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

clarify toplevel capacity docs
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
  projects/uitdatabank/docs/entry-api/places/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6151 include extra organizer fields + add GET organizers/id endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6152 added registrationPicture in passholder creation
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6155 passholder private properties
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

III-7324 remove bookingInfo on subEvents from docs and examples
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

III-7324 remove bookingInfo JSON schema on subEvents
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7162 remove negative boosting from search API docs
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/search-api/advanced/boosting.md
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

UPS-6151 include extra organizer fields + add GET organizers/id endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6155 passholder private properties
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6155 passholder private properties (#552)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

UPS-6151 include extra organizer fields + add GET organizers/id endpoint (#550)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

remove childrenonly as value from audiencetype
  projects/uitdatabank/models/event-audience.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7216 document hasOvernight search filter
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7216 add hasOvernight to target audience filter page
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Revert "III-7216 add hasOvernight to target audience filter page"
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7216 add overnight filter page to sidebar navigation
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7216 clarify hasOvernight is scoped to the searched date range
  projects/uitdatabank/docs/search-api/filters/overnight.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

clarify daterange rules
  projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6152 added registrationPicture in passholder creation (#551)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

III-7215 add hasChildcare search filter documentation
  projects/uitdatabank/docs/search-api/filters/childcare.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7215 link hasChildcare filter in toc
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7215 add hasChildcare parameter to search.json OpenAPI spec
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7215 document search filter checklist in CLAUDE.md
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

III-7215 fix date filter parameter name in childcare docs
  projects/uitdatabank/docs/search-api/filters/childcare.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7261 add childrenOnly search filter documentation
  projects/uitdatabank/docs/search-api/filters/children-only.md
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7190 document matchingBirthdateRanges response field
  projects/uitdatabank/docs/search-api/filters/birthdate-range.md
  projects/uitdatabank/models/common-matchingBirthdateRanges.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add day of week documentation
  projects/uitdatabank/docs/search-api/filters/day-of-week.md
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

minor text changes
  projects/uitdatabank/docs/search-api/filters/day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove birthdate-range seperate file and merge into current age.md file
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/docs/search-api/filters/birthdate-range.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

commited by accident
  projects/uitdatabank/docs/search-api/filters/day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

clarify the usage in /offers
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Clarify who can see childrenOnly events
  projects/uitdatabank/docs/search-api/filters/children-only.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

style fix
  projects/uitdatabank/docs/search-api/filters/children-only.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7216 expose hasOvernight on the offers endpoint
  projects/uitdatabank/docs/search-api/filters/overnight.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

III-7216 expose departurePlaces on the offers endpoint
  projects/uitdatabank/docs/search-api/filters/departure-places.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove dead link and remove apologetic language
  projects/api-design-guidelines/docs/authentication.md
Owners: @JonasVHG, @willaerk, @bertramakers

Clarify day-of-week filter also applies to multiple events
  projects/uitdatabank/docs/search-api/filters/day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers
