Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

Fix typo
  projects/api-design-guidelines/docs/how-we-work.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Change camelCase to kebab case
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Update copy and replace link to publiq platform
  projects/authentication/docs/requesting-credentials.md
Owners: @corneelwille, @JurgenG, @JonasVHG

online uitpas: clarify prices endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

fix dead url
  projects/api-design-guidelines/docs/http-examples.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

small fixes
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5065 permission management endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5065 links
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5065 fix
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: extraPassholder must be array
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

fix orders API
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

document voucher error
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5065 permission management endpoints (#392)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4990 deprecate number and box
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas changes in orders
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: refactor Passholder in order to PassholderRegistration
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5089 socialTariffInfo
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5089
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

extra error
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5125 card status endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

added chip numbers
  projects/uitpas/docs/test-dataset.md
Owners: @erwin1, @JurgenG, @brusselsregular

extra test-voorbeelden toegevoegd
  projects/uitpas/docs/test-dataset.md
Owners: @erwin1, @JurgenG, @brusselsregular

changes after feedback
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

use correct email for cultuurkuur
  projects/uitdatabank/docs/entry-api/events/create-school.md
Owners: @JonasVHG, @LucWollants, @corneelwille

online uitpas: fix required fields in order
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

rename legalConsentPaper and legalConsentDigital to legalTermsPaper and legalTermsDigital
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online api update: email not required in POST orders
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5029 extra cancel url
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5029 extra cancel url
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Edit the UiTPAS quickstart page with the new flow via publiq platform
  projects/uitpas/docs/quickstart.md
Owners: @erwin1, @JurgenG, @brusselsregular

Update quickstart.md with new flow publiq platform
  projects/uitpas/docs/quickstart.md
Owners: @erwin1, @JurgenG, @brusselsregular

fix linting error
  projects/uitpas/docs/quickstart.md
Owners: @erwin1, @JurgenG, @brusselsregular

Add new release notes
  projects/release-notes/docs/uitdatabank/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Rewrite getting started guide
  projects/uitdatabank/docs/entry-api/requirements-before-going-live.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Update table of contents
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add CTA buttons to assets
  assets/add your integration button.drawio.svg
  assets/create widget button.drawio.svg
Owners: @JonasVHG, @willaerk, @simon-debruijn

Rename button
  assets/add your integration button.drawio.svg
  assets/add-integration-button.svg
Owners: @JonasVHG, @willaerk, @simon-debruijn

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille
