Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

use correct redirect for widgets
  README.md
  landingpage.md
  projects/uitdatabank/docs/introduction.md
  projects/uitdatabank/docs/search-api/introduction.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @LucWollants, @corneelwille

use correct redirect for authentication
  projects/uitdatabank/docs/introduction.md
Owners: @JonasVHG, @LucWollants, @corneelwille

use correct redirect for errors
  projects/api-design-guidelines/docs/errors.md
  projects/authentication/docs/errors.md
  projects/uitdatabank/docs/errors.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @LucWollants

use correct redirect for uitpas introduction
  landingpage.md
  projects/authentication/docs/methods.md
  projects/authentication/docs/requesting-credentials.md
  projects/uitdatabank/docs/search-api/advanced/embedding-uitpas-prices.md
  projects/uitdatabank/docs/search-api/authentication.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @LucWollants

use correct redirect for mpm introduction
  landingpage.md
  projects/authentication/docs/methods.md
  projects/authentication/docs/requesting-credentials.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG

use correct redirect for mpm errors
  projects/uitpas/docs/errors.md
Owners: @erwin1, @JurgenG, @brusselsregular

givre place status correct tag
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add subevents to places
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

remove patch subEvents for places cause not in code (yet)
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix some redirects
  projects/api-design-guidelines/docs/authentication.md
  projects/api-design-guidelines/docs/customizing-the-sidebar.md
  projects/api-design-guidelines/docs/http-examples.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

linting issue
  projects/authentication/docs/methods.md
Owners: @corneelwille, @JurgenG, @JonasVHG

redirect fix
  projects/uitdatabank/docs/entry-api/events/create-uitpas.md
Owners: @JonasVHG, @LucWollants, @corneelwille

redirect fix
  README.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add api.publiq.be to ignore dead link check
  .remarkrc
Owners: @JonasVHG, @willaerk, @simon-debruijn

Write Entry API guide about price info
  projects/uitdatabank/docs/entry-api/shared/price-info.md
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove double link
  projects/uitdatabank/docs/entry-api/shared/price-info.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/docs/entry-api/shared/price-info.md
  projects/uitdatabank/docs/entry-api/shared/price-info.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Create release notes project
  projects/Release Notes
Owners: @JonasVHG, @willaerk, @simon-debruijn

Create table of contents
  release notes/toc.json
Owners: @JonasVHG, @willaerk, @simon-debruijn

UPS-4629 temporary download link endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Create toc.json
  projects/release-notes/toc.json
Owners: @JonasVHG, @willaerk, @simon-debruijn

UPS-4629 temporary download link endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4629 fix links
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4629 fix links
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4629 fix links
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4629 docs
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Create release note page for UDB october
  projects/release-notes/UiTdatabank/october-2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Create release note page for UiTPAS october
  projects/release-notes/UiTPAS/october-2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Update table of contents
  projects/release-notes/toc.json
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add link to legacy xml api (as documentatie.uitdatabank.be will be offline soon)
  projects/uitpas/docs/legacy-xml-api.md
  projects/uitpas/toc.json
Owners: @erwin1, @JurgenG, @brusselsregular

Linting™
  projects/release-notes/UiTPAS/october-2023.md
  projects/release-notes/UiTdatabank/october-2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Modified projects/uitpas/docs/legacy-xml-api.md
  projects/uitpas/docs/legacy-xml-api.md
Owners: @erwin1, @JurgenG, @brusselsregular

Update projects/uitpas/docs/legacy-xml-api.md
  projects/uitpas/docs/legacy-xml-api.md
Owners: @erwin1, @JurgenG, @brusselsregular

Update table of contents
  projects/release-notes/toc.json
Owners: @JonasVHG, @willaerk, @simon-debruijn

Simplify release notes and organize by year
  projects/release-notes/UiTPAS/2023.md
  projects/release-notes/UiTPAS/october-2023.md
  projects/release-notes/UiTdatabank/2022.md
  projects/release-notes/UiTdatabank/2023.md
  projects/release-notes/UiTdatabank/october-2023.md
  projects/release-notes/Widgets/2020.md
  projects/release-notes/Widgets/2021.md
  projects/release-notes/Widgets/2022.md
  projects/release-notes/Widgets/2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Remove 2022 deployments page for UDB (for now)
  projects/release-notes/UiTdatabank/2022.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Cleanup
  projects/release-notes/UiTPAS/2023.md
  projects/release-notes/Widgets/2020.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Linting™
  projects/release-notes/UiTPAS/2023.md
  projects/release-notes/UiTdatabank/2023.md
  projects/release-notes/Widgets/2020.md
  projects/release-notes/Widgets/2021.md
  projects/release-notes/Widgets/2022.md
  projects/release-notes/Widgets/2023.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Create workflow to publish release notes
  .github/workflows/publish-release-notes.yml
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add spectral.yaml
  projects/release-notes/spectral.yaml
Owners: @JonasVHG, @willaerk, @simon-debruijn
