Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

Drop overnight from unprefixed boolean examples
  REVIEW.md
Owners: @JonasVHG, @willaerk, @bertramakers

Fix leftover overnight wording in filter guide
  projects/uitdatabank/docs/search-api/filters/overnight-stay.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove duplicate date filter rule and opening hours mention
  projects/uitdatabank/docs/search-api/filters/overnight-stay.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Drop duplicate date filter example with unencoded offset
  projects/uitdatabank/docs/search-api/filters/overnight-stay.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Mention Search API filter in hasOvernightStay release note
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Document hasOvernightStay field in advanced queries
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Point the date and local time filters at the childcare guide
  projects/uitdatabank/docs/search-api/filters/datetime.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document that childcare hours extend the searchable period
  projects/uitdatabank/docs/search-api/filters/childcare.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Mention the extended period in the childcare release note
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Add info about events with type childCare
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add info about childcare events in models
  projects/uitdatabank/models/event-openingHours-childcare.json
  projects/uitdatabank/models/event-subEvent-childcare.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/entry-api/shared/calendar-info.md
  projects/uitdatabank/docs/entry-api/shared/calendar-info.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Enhance childcare filter wording to make it clear it is optional
  projects/uitdatabank/docs/search-api/filters/childcare.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add a guide for filtering on recurring day of week
  projects/uitdatabank/docs/search-api/filters/recurring-day-of-week.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add a release note for the recurring day of week filter
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Document recurringOnDayOfWeek and the hours in advanced queries
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add the recurring parameters to the Search API reference
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Bound the recurring hours with minimum and maximum
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document localTimeFrom and localTimeTo as HHMM integers
  projects/uitdatabank/docs/search-api/filters/datetime.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document that childrenOnly is kept when not sent on a full event update
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/entry-api/events/update.md
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Mention that a null childrenOnly also keeps the current value
  projects/uitdatabank/models/event-childrenOnly.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/models/event-childrenOnly.json
  projects/uitdatabank/models/event-childrenOnly.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/release-notes/docs/uitdatabank/2026.md
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Update projects/uitdatabank/docs/entry-api/events/update.md
  projects/uitdatabank/docs/entry-api/events/update.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

PR feedback
  projects/uitdatabank/models/event-childrenOnly.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

PR feedback
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Document that the recurring hours accept one bound
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/search-api/filters/recurring-day-of-week.md
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Remove the explanation about the implicit two slot behaviour
  projects/uitdatabank/docs/search-api/filters/recurring-day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Improve explanation open end time of activities
  projects/uitdatabank/docs/search-api/filters/recurring-day-of-week.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-6140 Add missing country field
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update projects/uitpas/reference/uitpas.json
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Update user-access-token.md
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @bertramakers

Update client-access-token.md
  projects/authentication/docs/client-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG, @bertramakers

Create page in about requesting BOA access
  projects/uitdatabank/docs/boa.md
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/boa.md
  projects/uitdatabank/docs/boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/boa.md
  projects/uitdatabank/docs/boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/boa.md
  projects/uitdatabank/docs/boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Clarify how and who should get access to BOA
  projects/uitdatabank/docs/boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/boa.md
  projects/uitdatabank/docs/boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/boa.md
  projects/uitdatabank/docs/boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers
