Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @bertramakers, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @grubolsch, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @bertramakers

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG @bertramakers

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1 @bertramakers

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @grubolsch @bertramakers

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular @bertramakers

# Widgets owners
/projects/widgets @JonasVHG @corneelwille @bertramakers

Document that a typical age range and a birthdate range are exclusive
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/models/event-birthdateRange.json
  projects/uitdatabank/models/event-typicalAgeRange.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Document the error for combining an age and a birthdate range
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/docs/errors.md
  projects/uitdatabank/models/event-post.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Drop the birthdate range from the remaining event examples
  projects/uitdatabank/models/event-with-read-example.json
  projects/uitdatabank/models/event-with-write-example.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Use the real endpoint paths in the BOA guide
  projects/uitdatabank/docs/entry-api/events/create-boa.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Say where the combined range error can occur
  projects/uitdatabank/docs/errors.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Link the age filter page relatively
  projects/uitdatabank/docs/errors.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Note that older events can still carry both ranges
  projects/uitdatabank/docs/search-api/filters/age.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Note the mutually exclusive ranges in the release notes
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove the superseded upcoming release notes file
  projects/release-notes/docs/uitdatabank/upcoming.md
Owners: @JonasVHG, @willaerk, @bertramakers

Document the recurringOnDayOfWeek search filter
  projects/release-notes/docs/uitdatabank/2026.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/recurring-day-of-week.md
  projects/uitdatabank/reference/search.json
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @willaerk, @bertramakers, @LucWollants, @grubolsch

Add new format to search json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add xl to 2026.md
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Add example
  projects/uitdatabank/models/offer-calendarSummary.detail.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add some info
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add examples
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

update entry
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/reference/entry.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Update projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

UPS-5715 allow client identification for GET grouppasses (#576)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Describe what the xl calendar summary actually adds
  projects/uitdatabank/docs/search-api/advanced/embedding-calendar-summaries.md
  projects/uitdatabank/models/offer-calendarSummary.detail.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Say what the xl summary adds and that lg mentions the childcare
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Let the link checker identify itself honestly
  .remarkrc
Owners: @JonasVHG, @willaerk, @bertramakers

Point the link checker user-agent at this repo
  .remarkrc
Owners: @JonasVHG, @willaerk, @bertramakers

Keep the URL out of the link checker user-agent
  .remarkrc
Owners: @JonasVHG, @willaerk, @bertramakers

Stop skipping three links the checker can now reach
  .remarkrc
Owners: @JonasVHG, @willaerk, @bertramakers

UPS-6166 added _ALL permissions for event endpoints (#568)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular, @bertramakers

Remove capacity and remainingCapacity from JSON schema & OpenAPI models
  projects/uitdatabank/models/common-bookingAvailability-capacity.json
  projects/uitdatabank/models/common-bookingAvailability-remainingCapacity.json
  projects/uitdatabank/models/event-bookingAvailability.json
  projects/uitdatabank/models/event-subEvent-bookingAvailability.json
  projects/uitdatabank/models/event-subEvent-patch.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/place-bookingAvailability.json
  projects/uitdatabank/models/place-post.json
  projects/uitdatabank/models/place-with-read-example.json
  projects/uitdatabank/models/place-with-write-example.json
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove capacity and remainingCapacity from how-to guides
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
  projects/uitdatabank/docs/entry-api/events/create-boa.md
  projects/uitdatabank/docs/entry-api/places/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Remove reference to deleted file in example guideline for Claude
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Also remove reference to old property in Claude guideline
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove more references to capacity in Claude guidelines
  CLAUDE.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove capacity from release notes
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers

Remove leftover blank newline
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Fix typo and sentence, improve example
  projects/uitdatabank/docs/entry-api/events/booking-availability.md
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Consistent formatting
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Add missing period at end of sentence
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Make description consistent with status in same file
  projects/uitdatabank/models/event-subEvent-patch.json
Owners: @JonasVHG, @LucWollants, @grubolsch, @bertramakers

Tell Claude not to repeat itself too much
  .github/workflows/claude.yml
Owners: @JonasVHG, @willaerk, @bertramakers

Removed BOA fields from upcoming release notes
  projects/release-notes/docs/uitdatabank/2026.md
Owners: @JonasVHG, @willaerk, @bertramakers
