Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

Add asterisk to list of enums
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove unnecessary *
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove *
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add release notes for UiTPAS API
  projects/release-notes/docs/uitpas/2023.md
  projects/release-notes/docs/uitpas/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

change link to release notes
  projects/release-notes/toc.json
  projects/uitpas/docs/introduction.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @erwin1, @JurgenG, @brusselsregular

add link to release notes from UiTPAS space
  projects/uitpas/docs/introduction.md
Owners: @erwin1, @JurgenG, @brusselsregular

fix linting
  projects/uitpas/docs/introduction.md
Owners: @erwin1, @JurgenG, @brusselsregular

New terms of use
  projects/uitdatabank/docs/terms-of-use/terms-of-use.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Linting™
  projects/release-notes/docs/uitdatabank/2024.md
  projects/release-notes/docs/widgets/2024.md
  projects/uitdatabank/docs/entry-api/shared/labels.md
  projects/uitdatabank/docs/search-api/advanced/advanced-queries.md
  projects/uitdatabank/docs/search-api/filters/default-filters.md
  projects/uitdatabank/docs/terms-of-use/terms-of-use.md
  projects/uitpas/docs/registering-events.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @LucWollants, @corneelwille, @erwin1, @JurgenG, @brusselsregular

Fix links
  projects/uitdatabank/docs/terms-of-use/terms-of-use.md
Owners: @JonasVHG, @LucWollants, @corneelwille

New terms of use
  projects/widgets/docs/gebruiksvoorwaarden.md
Owners: @JonasVHG, @corneelwille

Release notes fixversion 2024-03-28
  projects/release-notes/docs/uitdatabank/2024.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Create test.md
  assets/images/test.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

Add files via upload
  assets/images/header-publiq-platform.png
Owners: @JonasVHG, @willaerk, @simon-debruijn

Delete test file
  assets/images/test.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

online uitpas: cardsystem sort
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: GET cardsystem/id
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: GET cardsystem/id
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: GET cardsystem/id
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: Retrieve card system membership prices
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Remove old widget image
  projects/widgets/docs/inleiding.md
Owners: @JonasVHG, @corneelwille

online uitpas: Retrieve the status of a passholder based on INSZ number
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: support for more registration types
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: refactor existing price endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: refactor existing price endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: social tariff conditions
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: social tariff conditions
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: orders
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: orders
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

New internal endpoint - subscribe to newsletter
  projects/uitdatabank/docs/errors.md
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added extra type of error
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

remove internal error from errors.md
  projects/uitdatabank/docs/errors.md
Owners: @JonasVHG, @LucWollants, @corneelwille

online uitpas: cardlessRegistration moet blijven voor backwards compat
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: cardType toegevoegd
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: voorlopig geen mia registratie
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas typo
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: added security method
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: finetuning
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: description toegevoegd aan membershipprice
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

online uitpas: changed to order api
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille
