Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

fix broken organizer links
  projects/uitdatabank/models/event-organizer.json
  projects/uitdatabank/models/organizer-@id.json
  projects/uitdatabank/models/organizer-address.json
  projects/uitdatabank/models/organizer-completedLanguages.json
  projects/uitdatabank/models/organizer-contact.json
  projects/uitdatabank/models/organizer-contactPoint.json
  projects/uitdatabank/models/organizer-contributors.json
  projects/uitdatabank/models/organizer-created.json
  projects/uitdatabank/models/organizer-creator.json
  projects/uitdatabank/models/organizer-description.json
  projects/uitdatabank/models/organizer-educationalDescription.json
  projects/uitdatabank/models/organizer-image-post.json
  projects/uitdatabank/models/organizer-images-patch.json
  projects/uitdatabank/models/organizer-images.json
  projects/uitdatabank/models/organizer-labels.json
  projects/uitdatabank/models/organizer-languages.json
  projects/uitdatabank/models/organizer-mainImage.json
  projects/uitdatabank/models/organizer-mainLanguage.json
  projects/uitdatabank/models/organizer-modified.json
  projects/uitdatabank/models/organizer-name.json
  projects/uitdatabank/models/organizer-workflowStatus.json
  projects/uitdatabank/models/place-organizer.json
Owners: @JonasVHG, @LucWollants, @corneelwille

trying to fix property subevent
  projects/uitdatabank/models/event-calendarType.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix broken links in properties
  projects/uitdatabank/models/event-availableTo.json
  projects/uitdatabank/models/event-calendarType.json
  projects/uitdatabank/models/event-endDate.json
  projects/uitdatabank/models/event-location.json
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-startDate.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/place-calendarType.json
  projects/uitdatabank/models/place-endDate.json
  projects/uitdatabank/models/place-startDate.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix broken links mainlanguage
  projects/uitdatabank/models/event-mainLanguage.json
  projects/uitdatabank/models/organizer-mainLanguage.json
  projects/uitdatabank/models/place-mainLanguage.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix broken link languages
  projects/uitdatabank/models/event-languages.json
  projects/uitdatabank/models/place-mainLanguage.json
Owners: @JonasVHG, @LucWollants, @corneelwille

trying new fix for event links
  projects/uitdatabank/models/event-@id.json
  projects/uitdatabank/models/event-attendanceMode.json
  projects/uitdatabank/models/event-audience.json
  projects/uitdatabank/models/event-availableFrom-put.json
  projects/uitdatabank/models/event-availableFrom.json
  projects/uitdatabank/models/event-availableTo.json
  projects/uitdatabank/models/event-bookingInfo.json
  projects/uitdatabank/models/event-completedLanguages.json
  projects/uitdatabank/models/event-contactPoint.json
  projects/uitdatabank/models/event-contributors.json
  projects/uitdatabank/models/event-created.json
  projects/uitdatabank/models/event-creator.json
  projects/uitdatabank/models/event-description-put.json
  projects/uitdatabank/models/event-description.json
  projects/uitdatabank/models/event-endDate.json
  projects/uitdatabank/models/event-image-post.json
  projects/uitdatabank/models/event-image-put.json
  projects/uitdatabank/models/event-image.json
  projects/uitdatabank/models/event-labels.json
  projects/uitdatabank/models/event-languages.json
  projects/uitdatabank/models/event-main-image-put.json
  projects/uitdatabank/models/event-mainLanguage.json
  projects/uitdatabank/models/event-mediaObject.json
  projects/uitdatabank/models/event-modified.json
  projects/uitdatabank/models/event-name.json
  projects/uitdatabank/models/event-onlineUrl.json
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-priceInfo.json
  projects/uitdatabank/models/event-production.json
  projects/uitdatabank/models/event-sameAs.json
  projects/uitdatabank/models/event-startDate.json
  projects/uitdatabank/models/event-status.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/event-terms.json
  projects/uitdatabank/models/event-typicalAgeRange-put.json
  projects/uitdatabank/models/event-typicalAgeRange.json
  projects/uitdatabank/models/event-workflowStatus-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille

refix languages links
  projects/uitdatabank/models/event-mainLanguage.json
  projects/uitdatabank/models/organizer-mainLanguage.json
  projects/uitdatabank/models/place-mainLanguage.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix more broken links
  projects/uitdatabank/models/event-description.json
  projects/uitdatabank/models/event-name.json
  projects/uitdatabank/models/organizer-address.json
  projects/uitdatabank/models/organizer-description.json
  projects/uitdatabank/models/organizer-educationalDescription.json
  projects/uitdatabank/models/organizer-name.json
  projects/uitdatabank/models/place-address.json
  projects/uitdatabank/models/place-description.json
  projects/uitdatabank/models/place-name.json
Owners: @JonasVHG, @LucWollants, @corneelwille

more fixes to broken urls
  projects/uitdatabank/models/event-hiddenLabels.json
  projects/uitdatabank/models/event-labels.json
  projects/uitdatabank/models/organizer-hiddenLabels.json
  projects/uitdatabank/models/organizer-labels.json
  projects/uitdatabank/models/place-hiddenLabels.json
  projects/uitdatabank/models/place-labels.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix broken links to language and completedLanguage
  projects/uitdatabank/models/event-completedLanguages.json
  projects/uitdatabank/models/organizer-completedLanguages.json
  projects/uitdatabank/models/organizer-geo.json
  projects/uitdatabank/models/organizer-languages.json
  projects/uitdatabank/models/place-completedLanguages.json
  projects/uitdatabank/models/place-geo.json
  projects/uitdatabank/models/place-labels.json
  projects/uitdatabank/models/place-languages.json
Owners: @JonasVHG, @LucWollants, @corneelwille

added availableTo links
  projects/uitdatabank/models/event-availableTo.json
  projects/uitdatabank/models/place-availableTo.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix typo
  projects/uitdatabank/docs/entry-api/shared/booking-and-contact-info.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Adding booking info guide
  projects/uitdatabank/models/common-bookingInfo.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Updating bookinginfo
  projects/uitdatabank/models/common-bookingInfo.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added calenderType guide link
  projects/uitdatabank/models/common-bookingInfo.json
  projects/uitdatabank/models/event-bookingInfo.json
  projects/uitdatabank/models/event-calendarType.json
  projects/uitdatabank/models/event-contactPoint.json
  projects/uitdatabank/models/organizer-contactPoint.json
  projects/uitdatabank/models/place-bookingInfo.json
  projects/uitdatabank/models/place-calendarType.json
  projects/uitdatabank/models/place-contactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

added link to contributers in manual
  projects/uitdatabank/models/event-contributors.json
  projects/uitdatabank/models/organizer-contributors.json
  projects/uitdatabank/models/place-contributors.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added what are guide to event
  projects/uitdatabank/models/event.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added guide link
  projects/uitdatabank/models/event.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/reference/search.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/reference/search.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Link from place|organizer model to 'What are resource' guides
  projects/uitdatabank/models/organizer.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/models/place.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/models/event.json
  projects/uitdatabank/models/event.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add information about the workflowStatus & publish action
  projects/uitdatabank/docs/entry-api/events/create-uitpas.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Linting™
  projects/uitdatabank/docs/content-scope.md
  projects/uitdatabank/docs/entry-api/events/create-uitpas.md
  projects/uitdatabank/docs/entry-api/shared/images.md
  projects/uitdatabank/docs/search-api/filters/freetext.md
  projects/uitdatabank/docs/search-api/filters/language.md
  projects/uitpas/docs/errors.md
Owners: @JonasVHG, @LucWollants, @corneelwille, @erwin1, @JurgenG, @brusselsregular

test linting
  projects/uitdatabank/docs/introduction.md
Owners: @JonasVHG, @LucWollants, @corneelwille

undo test commit
  projects/uitdatabank/docs/introduction.md
Owners: @JonasVHG, @LucWollants, @corneelwille

don't use redirect urls in api-design-guidelines
  projects/api-design-guidelines/docs/authentication.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

fix redirect links in UiTPAS
  projects/uitpas/docs/registering-ticket-sales.md
  projects/uitpas/docs/terminology.md
Owners: @erwin1, @JurgenG, @brusselsregular

fix redirects in uitpas
  projects/uitpas/docs/creating-rewards.md
  projects/uitpas/docs/errors.md
  projects/uitpas/docs/introduction.md
  projects/uitpas/docs/pay-with-UiTPAS-points.md
Owners: @erwin1, @JurgenG, @brusselsregular

fix redirects README
  README.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

fix redirects README
  README.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

fix redirects in uitpas terminology
  projects/uitpas/docs/terminology.md
Owners: @erwin1, @JurgenG, @brusselsregular

fix redirects in uitpas terminology
  projects/uitpas/docs/terminology.md
Owners: @erwin1, @JurgenG, @brusselsregular

use correct redirect for https://docs.publiq.be/docs/uitdatabank/introduction
  landingpage.md
  projects/uitpas/docs/terminology.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @erwin1, @JurgenG, @brusselsregular

use correct redirect for user acces token
  projects/_template/reference/example-api.json
  projects/uitpas/docs/creating-rewards.md
  projects/uitpas/docs/pay-with-UiTPAS-points.md
  projects/uitpas/docs/registering-ticket-sales.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @erwin1, @JurgenG, @brusselsregular

use correct redirect for user acces token
  projects/_template/reference/example-api.json
  projects/uitpas/docs/creating-rewards.md
  projects/uitpas/docs/pay-with-UiTPAS-points.md
  projects/uitpas/docs/registering-ticket-sales.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @erwin1, @JurgenG, @brusselsregular

use correct redirect for uitpas
  projects/uitpas/docs/introduction.md
Owners: @erwin1, @JurgenG, @brusselsregular

use correct redirect for methods
  projects/uitpas/docs/creating-rewards.md
  projects/uitpas/docs/pay-with-UiTPAS-points.md
  projects/uitpas/docs/registering-ticket-sales.md
Owners: @erwin1, @JurgenG, @brusselsregular

use correct redirect for errors
  projects/api-design-guidelines/docs/authentication.md
  projects/errors/docs/format.md
Owners: @JonasVHG, @willaerk, @simon-debruijn

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille
