Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

Fix url
  projects/uitpas/docs/searching-for-UiTPAS-events.md
Owners: @erwin1, @JurgenG, @brusselsregular

Fix dead url
  projects/widgets/docs/inleiding.md
Owners: @JonasVHG, @corneelwille

Fix dead url
  projects/uitdatabank/docs/search-api/introduction.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix dead url
  projects/uitdatabank/docs/terminology.md
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4647 family member endpoints: convert to general usage endpoints instead of current passholder only
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints: convert to general usage endpoints instead of current passholder only
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 family member endpoints
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Add documentation page about how to filter on languages & translations
  projects/uitdatabank/docs/search-api/filters/language.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix casing issue with anchors
  projects/uitdatabank/docs/search-api/filters/language.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Document terms of use (as is) in dutch
  projects/uitdatabank/docs/terms-of-use/terms-of-use.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add terms of use to sidebar
  projects/uitdatabank/toc.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add documentation page about free text search
  projects/uitdatabank/docs/search-api/filters/freetext.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Add documentation page about filtering on terms
  projects/uitdatabank/docs/search-api/filters/terms.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Linting™
  projects/uitdatabank/docs/search-api/filters/age.md
  projects/uitdatabank/docs/search-api/filters/labels.md
  projects/uitdatabank/docs/search-api/filters/terms.md
  projects/uitdatabank/docs/search-api/filters/uitpas.md
  projects/uitpas/docs/registering-ticket-sales.md
  projects/uitpas/docs/user-friendly-error-messages.md
Owners: @JonasVHG, @LucWollants, @corneelwille, @erwin1, @JurgenG, @brusselsregular

Fix linting error
  projects/uitdatabank/docs/search-api/filters/terms.md
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4647 fix typos
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 rename headOfFamily to mainFamilyMember
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 fix
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4647 fix
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Fix typo
  projects/uitdatabank/docs/content-scope.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix typo
  projects/uitdatabank/docs/content-scope.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix spelling mistake
  projects/uitdatabank/docs/content-scope.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix spelling mistake
  projects/uitdatabank/docs/content-scope.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Uitpas/ups 4647 gezin (#307)
  projects/uitpas/docs/errors.md
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

use correct method name
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

update entry getting images
  projects/uitdatabank/reference/entry.json
Owners: @JonasVHG, @LucWollants, @corneelwille

add info about get endpoint in images.md
  projects/uitdatabank/docs/entry-api/shared/images.md
Owners: @JonasVHG, @LucWollants, @corneelwille

fix url
  projects/uitdatabank/docs/entry-api/shared/images.md
Owners: @JonasVHG, @LucWollants, @corneelwille

fix url
  projects/uitdatabank/docs/entry-api/shared/images.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Replace faulty test-account with new value
  projects/uitpas/docs/test-dataset.md
Owners: @erwin1, @JurgenG, @brusselsregular

undouble property
  projects/uitdatabank/models/event-embedCalendarSummaries.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/place-embedCalendarSummaries.json
  projects/uitdatabank/models/place.json
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

undouble
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

change markdown to html
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix broken link
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

remove dots in link
  projects/uitdatabank/reference/search.json
Owners: @JonasVHG, @LucWollants, @corneelwille

added detailed calender summary details
  projects/uitdatabank/models/event-calendarSummary.json
  projects/uitdatabank/models/event-embedCalendarSummaries.json
  projects/uitdatabank/models/event.json
  projects/uitdatabank/models/offer-calendarSummary.detail.json
  projects/uitdatabank/models/place-calendarSummary.json
  projects/uitdatabank/models/place-embedCalendarSummaries.json
  projects/uitdatabank/models/place.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Added dutch description
  projects/uitdatabank/models/event-calendarSummary.json
  projects/uitdatabank/models/place-calendarSummary.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix broken links
  projects/uitdatabank/models/event-@id.json
  projects/uitdatabank/models/event-attendanceMode.json
  projects/uitdatabank/models/event-audience.json
  projects/uitdatabank/models/event-availableFrom-put.json
  projects/uitdatabank/models/event-availableFrom.json
  projects/uitdatabank/models/event-availableTo.json
  projects/uitdatabank/models/event-bookingInfo.json
  projects/uitdatabank/models/event-calendarType.json
  projects/uitdatabank/models/event-completedLanguages.json
  projects/uitdatabank/models/event-contactPoint.json
  projects/uitdatabank/models/event-contributors.json
  projects/uitdatabank/models/event-created.json
  projects/uitdatabank/models/event-creator.json
  projects/uitdatabank/models/event-description-put.json
  projects/uitdatabank/models/event-description.json
  projects/uitdatabank/models/event-endDate.json
  projects/uitdatabank/models/event-image-post.json
  projects/uitdatabank/models/event-image-put.json
  projects/uitdatabank/models/event-image.json
  projects/uitdatabank/models/event-labels.json
  projects/uitdatabank/models/event-languages.json
  projects/uitdatabank/models/event-main-image-put.json
  projects/uitdatabank/models/event-mainLanguage.json
  projects/uitdatabank/models/event-mediaObject.json
  projects/uitdatabank/models/event-modified.json
  projects/uitdatabank/models/event-name.json
  projects/uitdatabank/models/event-onlineUrl.json
  projects/uitdatabank/models/event-openingHours.json
  projects/uitdatabank/models/event-priceInfo.json
  projects/uitdatabank/models/event-production.json
  projects/uitdatabank/models/event-sameAs.json
  projects/uitdatabank/models/event-startDate.json
  projects/uitdatabank/models/event-status.json
  projects/uitdatabank/models/event-subEvent-put.json
  projects/uitdatabank/models/event-subEvent.json
  projects/uitdatabank/models/event-terms.json
  projects/uitdatabank/models/event-typicalAgeRange-put.json
  projects/uitdatabank/models/event-typicalAgeRange.json
  projects/uitdatabank/models/event-workflowStatus-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille

trying for a better url
  projects/uitdatabank/models/event-@id.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix broken place urls
  projects/uitdatabank/models/event-@id.json
  projects/uitdatabank/models/event-calendarType.json
  projects/uitdatabank/models/event-location.json
  projects/uitdatabank/models/place-@id.json
  projects/uitdatabank/models/place-address-put.json
  projects/uitdatabank/models/place-address.json
  projects/uitdatabank/models/place-availableFrom-put.json
  projects/uitdatabank/models/place-availableFrom.json
  projects/uitdatabank/models/place-availableTo.json
  projects/uitdatabank/models/place-bookingInfo.json
  projects/uitdatabank/models/place-calendarType.json
  projects/uitdatabank/models/place-completedLanguages.json
  projects/uitdatabank/models/place-contactPoint.json
  projects/uitdatabank/models/place-contributors.json
  projects/uitdatabank/models/place-created.json
  projects/uitdatabank/models/place-creator.json
  projects/uitdatabank/models/place-description-put.json
  projects/uitdatabank/models/place-description.json
  projects/uitdatabank/models/place-endDate.json
  projects/uitdatabank/models/place-image-post.json
  projects/uitdatabank/models/place-image-put.json
  projects/uitdatabank/models/place-image.json
  projects/uitdatabank/models/place-labels.json
  projects/uitdatabank/models/place-languages.json
  projects/uitdatabank/models/place-main-image-put.json
  projects/uitdatabank/models/place-mainLanguage.json
  projects/uitdatabank/models/place-mediaObject.json
  projects/uitdatabank/models/place-modified.json
  projects/uitdatabank/models/place-name.json
  projects/uitdatabank/models/place-openingHours.json
  projects/uitdatabank/models/place-priceInfo.json
  projects/uitdatabank/models/place-sameAs.json
  projects/uitdatabank/models/place-startDate.json
  projects/uitdatabank/models/place-status.json
  projects/uitdatabank/models/place-terms.json
  projects/uitdatabank/models/place-typicalAgeRange-put.json
  projects/uitdatabank/models/place-typicalAgeRange.json
  projects/uitdatabank/models/place-workflowStatus-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille
