Repository cultuurnet/apidocs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille, @JurgenG, @DizzyMissLizzy, @erwin1, @LucWollants, @brusselsregular

.github/CODEOWNERS:

# CODEOWNERS are automatically assigned as possible reviewers to new PRs.

# Default owners (only for PRs that make changes to files not covered below, like GitHub Actions, README, etc)
* @JonasVHG @willaerk @simon-debruijn

# Authentication owners
/projects/authentication @corneelwille @JurgenG @JonasVHG

# museumPASSmus√©es owners
/projects/museumpassmusees @DizzyMissLizzy @erwin1

# UiTdatabank owners
/projects/uitdatabank @JonasVHG @LucWollants @corneelwille

# UiTPAS owners
/projects/uitpas @erwin1 @JurgenG @brusselsregular

# Widgets owners
/projects/widgets @JonasVHG @corneelwille

Fix heading
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix unordered list marker style
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

UPS-4561 do not use inlined object
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5179 passholder picture endpoint
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5126 passholder registration with nfc card
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-5126 passholder registration with nfc card
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

PR remark
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

UPS-4894 APIs online UiTPAS (#387)
  projects/uitpas/reference/uitpas.json
Owners: @erwin1, @JurgenG, @brusselsregular

Link to terms of use on publiq.be
  projects/uitdatabank/docs/terms-of-use/terms-of-use.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Link to terms of use on publiq.be
  projects/widgets/docs/gebruiksvoorwaarden.md
Owners: @JonasVHG, @corneelwille

Linting™
  projects/release-notes/docs/uitdatabank/2024.md
  projects/widgets/docs/gebruiksvoorwaarden.md
Owners: @JonasVHG, @willaerk, @simon-debruijn, @corneelwille

Guide on fitlering on time
  projects/uitdatabank/docs/search-api/filters/datetime.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Remove space to fix linting error
  projects/uitdatabank/docs/search-api/filters/datetime.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Fix typos
  projects/uitdatabank/docs/search-api/filters/datetime.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitdatabank/docs/search-api/filters/location.md
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

Update projects/uitpas/docs/registering-events.md
  projects/uitpas/docs/registering-events.md
Owners: @erwin1, @JurgenG, @brusselsregular

Polish copy
  projects/uitdatabank/docs/search-api/filters/location.md
Owners: @JonasVHG, @LucWollants, @corneelwille

PK-41 replace Auth0 with Keycloak in client credential flow documentation
  projects/authentication/docs/client-access-token.md
  projects/authentication/docs/errors.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PK-41 fix try it out section
  projects/authentication/docs/client-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PK-41 replace try it with curl sample
  projects/authentication/docs/client-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PK-41 backward compatiblity
  projects/authentication/docs/client-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

PK-41 update user access token documentation to keycloak
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

fix ui_locales
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

fix linting
  projects/authentication/docs/client-access-token.md
  projects/authentication/docs/user-access-token.md
Owners: @corneelwille, @JurgenG, @JonasVHG

Fix image regex and allow jpg
  projects/uitdatabank/models/common-string-uri-image.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Add possiblity to use ownerEmail to ownership request
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

Ensure either ownerId or ownerEmail is required nonetheless
  projects/uitdatabank/models/ownership-post.json
Owners: @JonasVHG, @LucWollants, @corneelwille

update contactpoint validation
  projects/uitdatabank/models/event-contactPoint-put.json
  projects/uitdatabank/models/place-contactPoint-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille

create legacy uri
  projects/uitdatabank/models/common-string-uri-legacy.json
Owners: @JonasVHG, @LucWollants, @corneelwille

create legacy contactPoint
  projects/uitdatabank/models/common-legacyContactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

use legacyContactPoint in Event
  projects/uitdatabank/models/event-contactPoint-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix regex
  projects/uitdatabank/models/common-string-uri-legacy.json
Owners: @JonasVHG, @LucWollants, @corneelwille

make properties required
  projects/uitdatabank/models/common-legacyContactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

set min length to 0 for legacy phone
  projects/uitdatabank/models/common-legacyContactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

fix validation legacy phone
  projects/uitdatabank/models/common-legacyContactPoint.json
Owners: @JonasVHG, @LucWollants, @corneelwille

update legacy uri
  projects/uitdatabank/models/common-string-uri-legacy.json
Owners: @JonasVHG, @LucWollants, @corneelwille

make fixes for email on contactpoint for offers
  projects/uitdatabank/models/common-legacyContactPoint.json
  projects/uitdatabank/models/common-string-email-legacy.json
Owners: @JonasVHG, @LucWollants, @corneelwille

rename legacy contactpoint to offer
  projects/uitdatabank/models/common-offer-contactPoint.json
  projects/uitdatabank/models/event-contactPoint-put.json
  projects/uitdatabank/models/place-contactPoint-put.json
Owners: @JonasVHG, @LucWollants, @corneelwille

rename legacy to offer
  projects/uitdatabank/models/common-offer-contactPoint.json
  projects/uitdatabank/models/common-string-offer-email.json
  projects/uitdatabank/models/common-string-offer-uri.json
Owners: @JonasVHG, @LucWollants, @corneelwille

rename legacy to offer
  projects/uitdatabank/models/common-offer-contactPoint.json
  projects/uitdatabank/models/common-string-offer-email.json
Owners: @JonasVHG, @LucWollants, @corneelwille
